
<div isCompanyUser class="querys">
    <div class="row form-horizontal">
        <div class="col-sm-5">
            <div class="form-group">
                <label class="col-sm-4 control-label">业户名称：</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" [(ngModel)]="company" name="company" placeholder="请输入业户名称..." />
                </div>
            </div>
        </div>
        <div class="col-sm-5 col-sm-offset-1">
            <button pButton label="检索" type="button" (click)="initData()"></button>
            <button pButton label="重置" type="button" (click)="cancel()"></button>
        </div>
    </div>
</div>


<p-dataTable [value]="travelStatisticList" [emptyMessage]="'暂无数据'">
    <p-column field="ownerName" header="业户名称"></p-column>
    <p-column field="online" header="在线旅游包车">
        <ng-template let-col let-travel="rowData" let-ri="rowIndex" pTemplate="body">
            <a (click)="showOnline(travel)" href="javascript:;">{{travel[col.field]}}</a>
        </ng-template>
    </p-column>
    <p-column field="onlineing" header="上线旅游包车">
        <ng-template let-col let-travel="rowData" let-ri="rowIndex" pTemplate="body">
            <a (click)="showOnlineing(travel)" href="javascript:;">{{travel[col.field]}}</a>
        </ng-template>
    </p-column>
    <p-column field="crossCar" header="跨域旅游包车">
        <ng-template let-col let-travel="rowData" let-ri="rowIndex" pTemplate="body">
            <a (click)="showCrossCar(travel)" href="javascript:;">{{travel[col.field]}}</a>
        </ng-template>
    </p-column>
    <p-column field="warning" header="报警情况">
        <ng-template let-col let-travel="rowData" let-ri="rowIndex" pTemplate="body">
            <a (click)="showWarning(travel)" href="javascript:;">{{travel[col.field]}}</a>
        </ng-template>
    </p-column>
    <p-paginator rows="{{max}}" totalRecords="{{total}}" (onPageChange)="paginate($event)"></p-paginator>
</p-dataTable>
