<div class="panel panel-default" *ngIf="pageFlag">
    <div class="querys">
        <div class="row form-horizontal">

            <div class="col-sm-5">
                <div class="form-group">
                    <label class="col-sm-4 control-label">姓名：</label>
                    <div class="col-sm-8">
                        <input class="form-control" [(ngModel)]="peopleName" placeholder="请输入姓名..." /></div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="form-group">
                    <label class="col-sm-4 control-label">联系电话：</label>
                    <div class="col-sm-8">
                        <input class="form-control" [(ngModel)]="phoneNo" placeholder="请输入联系电话..." /></div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="form-group">
                    <label class="col-sm-4 control-label">身份证号：</label>
                    <div class="col-sm-8"><input class="form-control" [(ngModel)]="IDCardNo" placeholder="请输入身份证号码..." /></div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="form-group">
                    <label class="col-sm-4 control-label">人员类型：</label>
                    <div class="col-sm-8">
                        <p-dropdown [options]="types" [(ngModel)]="selectedType" [style]="{'width':'100%'}" [scrollHeight]="300"></p-dropdown>
                    </div>
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col-sm-3 col-sm-offset-9 ">
                <button type="button" pButton class="search-button" label="检索" (click)="search()"></button>
                <button type="submit" pButton class="btn btn-primary" label="重置" (click)="cancel()"></button>
            </div>
        </div>
    </div>
    <!--</div>-->
    <div class='basic-bottom'>
        <p-dataTable [emptyMessage]="'暂无数据'" [value]="peopleList">
            <p-column field="name" header="姓名" [style]="{'width':'10%'}"></p-column>
            <p-column field="gender" header="性别" [style]="{'width':'5%'}"></p-column>
            <p-column field="IDCardNo" header="身份证号码" [style]="{'width':'25%'}"></p-column>
            <p-column field="birthday" header="出生日期" [style]="{'width':'10%'}"></p-column>
            <p-column field="nation" header="民族" [style]="{'width':'5%'}"></p-column>
            <p-column field="nativePlace" header="籍贯" [style]="{'width':'10%'}"></p-column>
            <p-column field="technologyTitle" header="技术职称" [style]="{'width':'10%'}"></p-column>
            <p-column field="phoneNo" header="联系电话" [style]="{'width':'15%'}"></p-column>
            <p-column field="" header="操作" styleClass=operation-buttons-1>
                <ng-template let-a="rowData" pTemplate="body">
                    <div role="button" class="fa fa-list fa-font-size div-distance" (click)="moreInfo(a)" tooltip="详情" placement="bottom"></div>
                </ng-template>
            </p-column>
        </p-dataTable>
        <p-paginator rows="{{max}}" totalRecords="{{total}}" (onPageChange)="paginate($event)"></p-paginator>
    </div>
</div>

<div class="panel panel-default panel-show" *ngIf="!pageFlag">
    <div class="panel-heading">
        {{pageTitle}}
        <button type="button" class="btn back-btn" (click)="closeDialog()">返回</button>
    </div>
    <div class="panel-body no-padding showDetails">
        <p-tabView>
            <p-tabPanel header="考核员" leftIcon="fa-check-square-o" *ngIf="checkMember!=null">
                <div class="col-sm-12 form-horizontal">
                    <div class="row">
                        <div class="form-group col-sm-4">
                            <label class="col-sm-5 control-label">从业资格类别：</label>
                            <div class="col-sm-7">
                                <p class="form-control-static">{{checkMember.workLicenseType || '无'}}</p>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="col-sm-5 control-label">从业资格证初领时间：</label>
                            <div class="col-sm-7">
                                <p class="form-control-static">{{checkMember.workLicenseGetTime || '无'}}</p>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="col-sm-5 control-label">从业资格证发放时间：</label>
                            <div class="col-sm-7">
                                <p class="form-control-static">{{checkMember.workLicenseGrantTime || '无'}}</p>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="col-sm-5 control-label">从业资格证号：</label>
                            <div class="col-sm-7">
                                <p class="form-control-static">{{checkMember.workLicenseNo || '无'}}</p>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="col-sm-5 control-label">证件有效期至：</label>
                            <div class="col-sm-7">
                                <p class="form-control-static">{{checkMember.endTime || '无'}}</p>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="col-sm-5 control-label">发证机关：</label>
                            <div class="col-sm-7">
                                <p class="form-control-static">{{checkMember.licenseGrantOrg || '无'}}</p>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="col-sm-5 control-label">证照状态：</label>
                            <div class="col-sm-7">
                                <p class="form-control-static">{{checkMember.licenseSituation || '无'}}</p>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="col-sm-5 control-label">补换证次数：</label>
                            <div class="col-sm-7">
                                <p class="form-control-static">{{checkMember.licenseChangeTimes || '无'}}</p>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="col-sm-5 control-label">培训次数：</label>
                            <div class="col-sm-7">
                                <p class="form-control-static">{{checkMember.trainTimes || '无'}}</p>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="col-sm-5 control-label">考核类别：</label>
                            <div class="col-sm-7">
                                <p class="form-control-static">{{checkMember.checkType || '无'}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </p-tabPanel>
            <p-tabPanel header="教练员" leftIcon="fa-user-plus" *ngIf="coach!=null">
                <div class="col-sm-12 form-horizontal">
                    <div class="row">
                        <div class="form-group col-sm-4">
                            <label class="col-sm-5 control-label">从业资格类别：</label>
                            <div class="col-sm-7">
                                <p class="form-control-static">{{coach.workLicenseType || '无'}}</p>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="col-sm-5 control-label">从业资格证号：</label>
                            <div class="col-sm-7">
                                <p class="form-control-static">{{coach.workLicenseNo || '无'}}</p>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="col-sm-5 control-label">从业资格证初领时间：</label>
                            <div class="col-sm-7">
                                <p class="form-control-static">{{coach.workLicenseGetTime || '无'}}</p>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="col-sm-5 control-label">从业资格证发放时间：</label>
                            <div class="col-sm-7">
                                <p class="form-control-static">{{coach.workLicenseGrantTime || '无'}}</p>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="col-sm-5 control-label">证件有效期至：</label>
                            <div class="col-sm-7">
                                <p class="form-control-static">{{coach.endTime || '无'}}</p>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="col-sm-5 control-label">驾驶证号：</label>
                            <div class="col-sm-7">
                                <p class="form-control-static">{{coach.driveLicenseNo || '无'}}</p>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="col-sm-5 control-label">准驾车型：</label>
                            <div class="col-sm-7">
                                <p class="form-control-static">{{coach.driveCarType || '无'}}</p>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="col-sm-5 control-label">驾驶证初领时间：</label>
                            <div class="col-sm-7">
                                <p class="form-control-static">{{coach.driveLicenseGetTime || '无'}}</p>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="col-sm-5 control-label">发证机关：</label>
                            <div class="col-sm-7">
                                <p class="form-control-static">{{coach.licenseGrantOrga || '无'}}</p>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="col-sm-5 control-label">证照状态：</label>
                            <div class="col-sm-7">
                                <p class="form-control-static">{{coach.licenseSituation || '无'}}</p>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="col-sm-5 control-label">从业状态：</label>
                            <div class="col-sm-7">
                                <p class="form-control-static">{{coach.workSituation || '无'}}</p>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="col-sm-5 control-label">业户名称：</label>
                            <div class="col-sm-7">
                                <p class="form-control-static">{{coach.ownerName || '无'}}</p>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="col-sm-5 control-label">经营许可证字：</label>
                            <div class="col-sm-7">
                                <p class="form-control-static">{{coach.businessPermitCharacter || '无'}}</p>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="col-sm-5 control-label">经营许可证号：</label>
                            <div class="col-sm-7">
                                <p class="form-control-static">{{coach.businessPermitNo || '无'}}</p>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="col-sm-5 control-label">补换证次数：</label>
                            <div class="col-sm-7">
                                <p class="form-control-static">{{coach.changeTimes || '无'}}</p>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="col-sm-5 control-label">培训次数：</label>
                            <div class="col-sm-7">
                                <p class="form-control-static">{{coach.trainTimes || '无'}}</p>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="col-sm-5 control-label">稽查处理状态：</label>
                            <div class="col-sm-7">
                                <p class="form-control-static">{{coach.inspectDealSituation || '无'}}</p>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="col-sm-5 control-label">准教类别：</label>
                            <div class="col-sm-7">
                                <p class="form-control-static">{{coach.teachType || '无'}}</p>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="col-sm-5 control-label">准教车型：</label>
                            <div class="col-sm-7">
                                <p class="form-control-static">{{coach.teachCarType || '无'}}</p>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="col-sm-5 control-label">驾驶证证照状态：</label>
                            <div class="col-sm-7">
                                <p class="form-control-static">{{coach.driveLicenseSituation || '无'}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </p-tabPanel>
            <p-tabPanel header="营运驾驶员" leftIcon="fa-cab" *ngIf="driver!=null">
                <div class="col-sm-12 form-horizontal">
                    <div class="row">
                        <div class="form-group col-sm-4">
                            <label class="col-sm-5 control-label">从业资格类别：</label>
                            <div class="col-sm-7">
                                <p class="form-control-static">{{driver.workLicenseType || '无'}}</p>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="col-sm-5 control-label">从业资格证号：</label>
                            <div class="col-sm-7">
                                <p class="form-control-static">{{driver.workLicenseNo || '无'}}</p>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="col-sm-5 control-label">从业资格证初领时间：</label>
                            <div class="col-sm-7">
                                <p class="form-control-static">{{driver.workLicenseGetTime || '无'}}</p>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="col-sm-5 control-label">从业资格证发放时间：</label>
                            <div class="col-sm-7">
                                <p class="form-control-static">{{driver.workLicenseGrantTime || '无'}}</p>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="col-sm-5 control-label">证件有效期至：</label>
                            <div class="col-sm-7">
                                <p class="form-control-static">{{driver.endTime || '无'}}</p>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="col-sm-5 control-label">驾驶证号：</label>
                            <div class="col-sm-7">
                                <p class="form-control-static">{{driver.driveLicenseNo || '无'}}</p>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="col-sm-5 control-label">准驾车型：</label>
                            <div class="col-sm-7">
                                <p class="form-control-static">{{driver.driveCarType || '无'}}</p>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="col-sm-5 control-label">驾驶证初领时间：</label>
                            <div class="col-sm-7">
                                <p class="form-control-static">{{driver.driveLicenseGetTime || '无'}}</p>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="col-sm-5 control-label">发证机关：</label>
                            <div class="col-sm-7">
                                <p class="form-control-static">{{driver.licenseGrantOrg || '无'}}</p>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="col-sm-5 control-label">证照状态：</label>
                            <div class="col-sm-7">
                                <p class="form-control-static">{{driver.licenseSituation || '无'}}</p>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="col-sm-5 control-label">从业状态：</label>
                            <div class="col-sm-7">
                                <p class="form-control-static">{{driver.workSituation || '无'}}</p>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="col-sm-5 control-label">业户名称：</label>
                            <div class="col-sm-7">
                                <p class="form-control-static">{{driver.ownerName || '无'}}</p>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="col-sm-5 control-label">经营许可证字：</label>
                            <div class="col-sm-7">
                                <p class="form-control-static">{{driver.businessPermitCharacter || '无'}}</p>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="col-sm-5 control-label">经营许可证号：</label>
                            <div class="col-sm-7">
                                <p class="form-control-static">{{driver.businessPermitNo || '无'}}</p>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="col-sm-5 control-label">补换证次数：</label>
                            <div class="col-sm-7">
                                <p class="form-control-static">{{driver.changeTimes || '无'}}</p>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="col-sm-5 control-label">培训次数：</label>
                            <div class="col-sm-7">
                                <p class="form-control-static">{{driver.trainTimes || '无'}}</p>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="col-sm-5 control-label">稽查处理状态：</label>
                            <div class="col-sm-7">
                                <p class="form-control-static">{{driver.inspectDealSituation || '无'}}</p>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="col-sm-5 control-label">交通事故记录次数：</label>
                            <div class="col-sm-7">
                                <p class="form-control-static">{{driver.trafficAccidentRecordNo || '无'}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </p-tabPanel>
            <p-tabPanel header="押运装卸管理员" leftIcon="fa-truck" *ngIf="manager!=null">
                <div class="col-sm-12 form-horizontal">
                    <div class="row">
                        <div class="form-group col-sm-4">
                            <label class="col-sm-5 control-label">从业资格类别：</label>
                            <div class="col-sm-7">
                                <p class="form-control-static">{{manager.workLicenseType || '无'}}</p>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="col-sm-5 control-label">从业资格证号：</label>
                            <div class="col-sm-7">
                                <p class="form-control-static">{{manager.workLicenseNo || '无'}}</p>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="col-sm-5 control-label">从业资格证初领时间：</label>
                            <div class="col-sm-7">
                                <p class="form-control-static">{{manager.workLicenseGetTime || '无'}}</p>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="col-sm-5 control-label">从业资格证发放时间：</label>
                            <div class="col-sm-7">
                                <p class="form-control-static">{{manager.workLicenseGrantTime || '无'}}</p>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="col-sm-5 control-label">证件有效期至：</label>
                            <div class="col-sm-7">
                                <p class="form-control-static">{{manager.endTime || '无'}}</p>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="col-sm-5 control-label">发证机关：</label>
                            <div class="col-sm-7">
                                <p class="form-control-static">{{manager.licenseGrantOrg || '无'}}</p>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="col-sm-5 control-label">证照状态：</label>
                            <div class="col-sm-7">
                                <p class="form-control-static">{{manager.licenseSituation || '无'}}</p>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="col-sm-5 control-label">从业状态：</label>
                            <div class="col-sm-7">
                                <p class="form-control-static">{{manager.workSituation || '无'}}</p>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="col-sm-5 control-label">证件有效期至：</label>
                            <div class="col-sm-7">
                                <p class="form-control-static">{{manager.endTime || '无'}}</p>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="col-sm-5 control-label">发证机关：</label>
                            <div class="col-sm-7">
                                <p class="form-control-static">{{manager.licenseGrantOrg || '无'}}</p>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="col-sm-5 control-label">证照状态：</label>
                            <div class="col-sm-7">
                                <p class="form-control-static">{{manager.licenseSituation || '无'}}</p>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="col-sm-5 control-label">从业状态：</label>
                            <div class="col-sm-7">
                                <p class="form-control-static">{{manager.workSituation || '无'}}</p>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="col-sm-5 control-label">业户名称：</label>
                            <div class="col-sm-7">
                                <p class="form-control-static">{{manager.ownerName || '无'}}</p>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="col-sm-5 control-label">经营许可证字：</label>
                            <div class="col-sm-7">
                                <p class="form-control-static">{{manager.businessPermitCharacter || '无'}}</p>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="col-sm-5 control-label">经营许可证号：</label>
                            <div class="col-sm-7">
                                <p class="form-control-static">{{manager.businessPermitNo || '无'}}</p>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="col-sm-5 control-label">补换证次数：</label>
                            <div class="col-sm-7">
                                <p class="form-control-static">{{manager.changeTimes || '无'}}</p>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="col-sm-5 control-label">培训次数：</label>
                            <div class="col-sm-7">
                                <p class="form-control-static">{{manager.changeTimes || '无'}}</p>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="col-sm-5 control-label">稽查处理状态：</label>
                            <div class="col-sm-7">
                                <p class="form-control-static">{{manager.inspectDealSituation || '无'}}</p>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="col-sm-5 control-label">交通事故记录次数：</label>
                            <div class="col-sm-7">
                                <p class="form-control-static">{{manager.trafficAccidentRecordNo || '无'}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </p-tabPanel>
            <p-tabPanel header="维修技术人员" leftIcon="fa-wrench" *ngIf="technology!=null">
                <div class="col-sm-12 form-horizontal">
                    <div class="row">
                        <div class="form-group col-sm-4">
                            <label class="col-sm-5 control-label">从业资格类别：</label>
                            <div class="col-sm-7">
                                <p class="form-control-static">{{technology.workLicenseType || '无'}}</p>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="col-sm-5 control-label">从业资格证号：</label>
                            <div class="col-sm-7">
                                <p class="form-control-static">{{technology.workLicenseNo || '无'}}</p>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="col-sm-5 control-label">从业资格证初领时间：</label>
                            <div class="col-sm-7">
                                <p class="form-control-static">{{technology.workLicenseGetTime || '无'}}</p>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="col-sm-5 control-label">从业资格证发放时间：</label>
                            <div class="col-sm-7">
                                <p class="form-control-static">{{technology.workLicenseGrantTime || '无'}}</p>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="col-sm-5 control-label">证件有效期至：</label>
                            <div class="col-sm-7">
                                <p class="form-control-static">{{technology.endTime || '无'}}</p>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="col-sm-5 control-label">发证机关：</label>
                            <div class="col-sm-7">
                                <p class="form-control-static">{{technology.licenseGrantOrganization || '无'}}</p>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="col-sm-5 control-label">证照状态：</label>
                            <div class="col-sm-7">
                                <p class="form-control-static">{{technology.licenseSituation || '无'}}</p>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="col-sm-5 control-label">业户名称：</label>
                            <div class="col-sm-7">
                                <p class="form-control-static">{{technology.ownerName || '无'}}</p>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="col-sm-5 control-label">经营许可证字：</label>
                            <div class="col-sm-7">
                                <p class="form-control-static">{{technology.businessPermitCharacter || '无'}}</p>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="col-sm-5 control-label">经营许可证号：</label>
                            <div class="col-sm-7">
                                <p class="form-control-static">{{technology.businessPermitNo || '无'}}</p>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="col-sm-5 control-label">补换证次数：</label>
                            <div class="col-sm-7">
                                <p class="form-control-static">{{technology.changeTimes || '无'}}</p>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="col-sm-5 control-label">培训次数：</label>
                            <div class="col-sm-7">
                                <p class="form-control-static">{{technology.trainTimes || '无'}}</p>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="col-sm-5 control-label">是否技术负责人：</label>
                            <div class="col-sm-7">
                                <p class="form-control-static">{{technology.technologyDirector || '无'}}</p>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="col-sm-5 control-label">稽查处理状态：</label>
                            <div class="col-sm-7">
                                <p class="form-control-static">{{technology.inspectDealSituation || '无'}}</p>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="col-sm-5 control-label">专业技术等级：</label>
                            <div class="col-sm-7">
                                <p class="form-control-static">{{technology.technologyLevel || '无'}}</p>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="col-sm-5 control-label">专业技术证书发放时间：</label>
                            <div class="col-sm-7">
                                <p class="form-control-static">{{technology.technologyLicenseGrantTime || '无'}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </p-tabPanel>
            <p-tabPanel header="站场服务人员" leftIcon="fa-street-view" *ngIf="waiter!=null">
                <div class="col-sm-12 form-horizontal">
                    <div class="row">
                        <div class="form-group col-sm-4">
                            <label class="col-sm-5 control-label">岗位名称：</label>
                            <div class="col-sm-7">
                                <p class="form-control-static">{{waiter.jobName || '无'}}</p>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="col-sm-5 control-label">岗位证编号：</label>
                            <div class="col-sm-7">
                                <p class="form-control-static">{{waiter.jobLicenseNo || '无'}}</p>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="col-sm-5 control-label">发证日期：</label>
                            <div class="col-sm-7">
                                <p class="form-control-static">{{waiter.grantTime || '无'}}</p>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="col-sm-5 control-label">上岗日期：</label>
                            <div class="col-sm-7">
                                <p class="form-control-static">{{waiter.beginWorkTime || '无'}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </p-tabPanel>
        </p-tabView>
    </div>
</div>
