
<div class="querys">
    <div class="row form-horizontal">
        <div isCompanyUser class="col-sm-5">
            <div class="form-group">
                <label class="col-sm-4 control-label">企业名称：</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" [(ngModel)]="companyName" name="companyName" placeholder="请输入企业名称..." />
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-sm-5">
            <div class="form-group">
                <label class="col-sm-4 control-label">报警类型：</label>
                <div class="col-sm-8">
                    <select [(ngModel)]="alarmType" class="form-control">
                                    <option value="">全部</option>
                                    <option *ngFor="let item of alarmTypes" [ngValue]="item.id">{{item.name}}</option>
                        </select>
                </div>
            </div>
        </div>

        <div class="col-sm-5">
            <div class="form-group">
                <label class="col-sm-4 control-label">时间：</label>
                <div class="col-sm-8 calendar-group">
                    <div class="cgl">
                        <p-calendar [(ngModel)]="startDate" [showIcon]="true" [dateFormat]="'yy/mm/dd'" styleClass=calendar-span inputStyleClass=calendar></p-calendar>
                    </div>
                    <div class="cgm">-</div>
                    <div class="cgr">
                        <p-calendar [(ngModel)]="endDate" [showIcon]="true" [dateFormat]="'yy/mm/dd'" styleClass=calendar-span inputStyleClass=calendar></p-calendar>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <button pButton label="检索" type="button" (click)="onSearch()"></button>
            <button pButton label="重置" type="button" (click)="onCancel()"></button>
        </div>
    </div>
</div>

<p-dataTable [value]="records" [emptyMessage]="'暂无数据'">
    <p-column field="companyName" header="业户名称"></p-column>
    <p-column field="companyCode" header="组织机构编码"></p-column>
    <p-column field="alarmType" header="报警类型"></p-column>
    <p-column field="allOrder" header="发送工单量"></p-column>
    <p-column field="doneOrder" header="处理工单数量"></p-column>
    <p-column field="doingOrder" header="未处理工单数量"></p-column>
    <p-column field="" header="完成率">
        <ng-template let-item="rowData" pTemplate="body">
            {{item.completionRate}} %
        </ng-template>
    </p-column>
</p-dataTable>
<p-paginator rows="{{max}}" totalRecords="{{total}}" (onPageChange)="paginate($event)" *ngIf="total/max>0"></p-paginator>
