<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-sm-3">
                <div class="input-group">
                    <span class="search-span input-group-addon">车牌号：</span>
                    <input type="text" class="search-input form-control" [(ngModel)]="vehicleNo" placeholder="请输入车牌号..."/>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="input-group">
                    <span class="search-span input-group-addon">业户名称：</span>
                    <input type="text" class="search-input form-control" [(ngModel)]="ownerName" placeholder="请输入业户名称..."/>
                </div>
            </div>
            <div class="col-sm-6" >
                <div class="input-group">
                    <span class="search-span input-group-addon">出发时间：</span>
                    <div>
                        <p-calendar [showTime]="true" [(ngModel)]="dateBegin" dateFormat="yy-mm-dd"
                                    name="dateBegin"></p-calendar>
                        -
                        <p-calendar [showTime]="true" [(ngModel)]="dateEnd" dateFormat="yy-mm-dd"
                                    name="dateEnd"></p-calendar>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 col-sm-offset-9">
                <button type="button" pButton class="search-button" label="检索" (click)="search()"></button>
                <button type="button" pButton class="search-button" label="重置" (click)="reset()"></button>
            </div>
        </div>
    </div>
    <div class="panel-body ">
        <div class="row">
            <p-dataTable [value]="waybillList" [emptyMessage]="'暂无数据'">
                <p-column field="vehicleNo" header="车牌号"></p-column>
                <p-column field="ownerName" header="公司"></p-column>
                <p-column field="dangerousName" header="品名"></p-column>
                <p-column field="dangerousType" header="类别"></p-column>
                <p-column field="amount" header="数量"></p-column>
                <p-column field="loadedType" header="装/卸"></p-column>
                <p-column field="departTime" header="出发时间"></p-column>
                <p-column field="startCity" header="出发地"></p-column>
                <p-column field="endCity" header="目的地"></p-column>
            </p-dataTable>
            <p-paginator rows="{{max}}" totalRecords="{{total}}" (onPageChange)="paginate($event)"></p-paginator>
        </div>
    </div>
</div>


