<div class="row">
  <div class="form-horizontal">
    <div class="col-sm-5">
      <div class="form-group">
        <label for="licenseNo" class="col-sm-4 control-label">车牌号：</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" name="licenseNo" [(ngModel)]="licenseNo" />
        </div>
      </div>
    </div>
    <div class="col-sm-5">
      <div class="form-group">
        <label class="col-sm-4 control-label">时间范围：</label>
        <div class="col-sm-8 calendar-group">
          <div class="cgl">
            <p-calendar [(ngModel)]="startDate" [showIcon]="true" [showTime]="true" dateFormat="yy-mm-dd" styleClass=calendar-span inputStyleClass=calendar
              [locale]="zh"></p-calendar>
          </div>
          <div class="cgm">-</div>
          <div class="cgr">
            <p-calendar [(ngModel)]="endDate" [showIcon]="true" dateFormat="yy-mm-dd" [showTime]="true" [readonlyInput]="true" styleClass=calendar-span
              inputStyleClass=calendar [locale]="zh"></p-calendar>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <button type="button" class="btn btn-primary" (click)="search()">检索</button>
      <!-- <button type="button" class="btn btn-primary" (click)="reset()">重置</button> -->
    </div>
  </div>
</div>
<div class="row">
    <div class="playBtns" >
        <span role="button" class="fa fa-play-circle-o fa-font-size div-distance" (click)="start()" *ngIf="this.palyerAction===''" tooltip="播放" placement="bottom" ></span>
        <span role="button" class="fa fa-play-circle-o fa-font-size div-distance" (click)="goOn()" *ngIf="this.palyerAction==='suspend'" tooltip="继续" placement="bottom" ></span>
        <span role="button" class="fa  fa-pause-circle-o fa-font-size div-distance" (click)="suspend()" *ngIf="this.palyerAction==='start'||this.palyerAction==='replay'||this.palyerAction==='goOn'" tooltip="暂停" placement="bottom" ></span>
        <span role="button" class="fa fa-refresh fa-font-size div-distance" (click)="replay()" *ngIf="this.palyerAction!=''" tooltip="重播" placement="bottom" ></span>
    </div>
  
    <div class="col-sm-12" autoHeight [ratio]="100" [offset]="-150">
      <div id="historyMap" class='mapSize'></div>
    </div>
</div>
<map-tabs-bar [type]="'historyMap'" [historyDataTOP10]='historyLocations' [alarmDataTOP10]='warnings'></map-tabs-bar>