
<div *ngIf="pageFlag == 'LIST'">
    <div class="querys">
        <div isCompanyUser class="row form-horizontal">
            <div class="col-sm-5">
                <div class="form-group">
                    <label class="col-sm-4 control-label">企业名称：</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" [(ngModel)]="ownerName" placeholder="企业名称..." />
                    </div>
                </div>
            </div>
            <div class="col-sm-5 col-sm-offset-1">
                <button pButton label="检索" type="button" (click)="search()"></button>
                <button pButton label="重置" type="button" (click)="reset()"></button>
            </div>
        </div>
    </div>
    <div class='basic-bottom'>
        <p-dataTable [value]="passLineBusinessInfos" [emptyMessage]="'暂无数据'">
            <p-column field="ownerName" header="公司"></p-column>
            <p-column field="licenseCharacter" header="经营许可证字"></p-column>
            <p-column field="licenseNo" header="经营许可证号"></p-column>
            <p-column field="busType" header="班车类别"></p-column>
            <p-column field="startStationName" header="起点站"></p-column>
            <p-column field="endStationName" header="终点站"></p-column>
            <p-column field="stopStation" header="途经站点"></p-column>
            <p-column field="mainPoint" header="途经主要站点"></p-column>
            <p-column field="dayTimes" header="日发班次"></p-column>
            <p-column field="businessWay" header="经营方式"></p-column>
            <p-column field="decideTime" header="许可日期"></p-column>
            <p-column field="" header="操作" styleClass=operation-buttons-1>
                <ng-template let-data="rowData" pTemplate="body">
                    <div role="button" class="fa fa-list fa-font-size div-distance" (click)="show(data.id)" tooltip="详情" placement="bottom"></div>
                </ng-template>
            </p-column>
        </p-dataTable>
        <p-paginator rows="{{max}}" totalRecords="{{total}}" (onPageChange)="paginate($event)"></p-paginator>
    </div>
</div>


<div class="panel panel-default panel-show" *ngIf="pageFlag=='SHOW'">
    <div class="panel-heading">
        详情
        <button type="button" class="btn back-btn btn-primary" (click)="goBack()">返回</button>
    </div>
    <div class="panel-body no-padding showDetails">
        <div class="col-sm-12 form-horizontal">
            <div class="row">
                <div class="form-group col-sm-4">
                    <label class="col-sm-5 control-label">线路编号：</label>
                    <div class="col-sm-7">
                        <p class="form-control-static">{{passLineBusinessBasicInfo.lineCode}}</p>
                    </div>
                </div>

                <div class="form-group col-sm-4">
                    <label class="col-sm-5 control-label">业户名称：</label>
                    <div class="col-sm-7">
                        <p class="form-control-static">{{passLineBusinessBasicInfo.ownerName}}</p>
                    </div>
                </div>

                <div class="form-group col-sm-4">
                    <label class="col-sm-5 control-label">业户编码：</label>
                    <div class="col-sm-7">
                        <p class="form-control-static">{{passLineBusinessBasicInfo.companyCode}}</p>
                    </div>
                </div>

                <div class="form-group col-sm-4">
                    <label class="col-sm-5 control-label">经营许可证字：</label>
                    <div class="col-sm-7">
                        <p class="form-control-static">{{passLineBusinessBasicInfo.licenseCharacter}}</p>
                    </div>
                </div>

                <div class="form-group col-sm-4">
                    <label class="col-sm-5 control-label">经营许可证号：</label>
                    <div class="col-sm-7">
                        <p class="form-control-static">{{passLineBusinessBasicInfo.licenseNo}}</p>
                    </div>
                </div>

                <div class="form-group col-sm-4">
                    <label class="col-sm-5 control-label">班车类别：</label>
                    <div class="col-sm-7">
                        <p class="form-control-static">{{passLineBusinessBasicInfo.busType}}</p>
                    </div>
                </div>

                <div class="form-group col-sm-4">
                    <label class="col-sm-5 control-label">起点站：</label>
                    <div class="col-sm-7">
                        <p class="form-control-static">{{passLineBusinessBasicInfo.startStationName}}</p>
                    </div>
                </div>

                <div class="form-group col-sm-4">
                    <label class="col-sm-5 control-label">终点站：</label>
                    <div class="col-sm-7">
                        <p class="form-control-static">{{passLineBusinessBasicInfo.endStationName}}</p>
                    </div>
                </div>

                <div class="form-group col-sm-4">
                    <label class="col-sm-5 control-label">途经站点：</label>
                    <div class="col-sm-7">
                        <p class="form-control-static">{{passLineBusinessBasicInfo.stopStation}}</p>
                    </div>
                </div>

                <div class="form-group col-sm-4">
                    <label class="col-sm-5 control-label">途经主要站点：</label>
                    <div class="col-sm-7">
                        <p class="form-control-static">{{passLineBusinessBasicInfo.mainPoint}}</p>
                    </div>
                </div>

                <div class="form-group col-sm-4">
                    <label class="col-sm-5 control-label">日发班次：</label>
                    <div class="col-sm-7">
                        <p class="form-control-static">{{passLineBusinessBasicInfo.dayTimes}}</p>
                    </div>
                </div>

                <div class="form-group col-sm-4">
                    <label class="col-sm-5 control-label">经营方式：</label>
                    <div class="col-sm-7">
                        <p class="form-control-static">{{passLineBusinessBasicInfo.businessWay}}</p>
                    </div>
                </div>

                <div class="form-group col-sm-4">
                    <label class="col-sm-5 control-label">许可决定书编号：</label>
                    <div class="col-sm-7">
                        <p class="form-control-static">{{passLineBusinessBasicInfo.licenseDecideBookNo}}</p>
                    </div>
                </div>

                <div class="form-group col-sm-4">
                    <label class="col-sm-5 control-label">许可日期：</label>
                    <div class="col-sm-7">
                        <p class="form-control-static">{{passLineBusinessBasicInfo.decideTime}}</p>
                    </div>
                </div>

                <div class="form-group col-sm-4">
                    <label class="col-sm-5 control-label">许可机构：</label>
                    <div class="col-sm-7">
                        <p class="form-control-static">{{passLineBusinessBasicInfo.decideOrc}}</p>
                    </div>
                </div>

                <div class="form-group col-sm-4">
                    <label class="col-sm-5 control-label">有效起始日期：</label>
                    <div class="col-sm-7">
                        <p class="form-control-static">{{passLineBusinessBasicInfo.beginTime}}</p>
                    </div>
                </div>

                <div class="form-group col-sm-4">
                    <label class="col-sm-5 control-label">有效结束日期：</label>
                    <div class="col-sm-7">
                        <p class="form-control-static">{{passLineBusinessBasicInfo.endTime}}</p>
                    </div>
                </div>

                <div class="form-group col-sm-4">
                    <label class="col-sm-5 control-label">牌证类别：</label>
                    <div class="col-sm-7">
                        <p class="form-control-static">{{passLineBusinessBasicInfo.licenseType}}</p>
                    </div>
                </div>

                <div class="form-group col-sm-4">
                    <label class="col-sm-5 control-label">营运状态：</label>
                    <div class="col-sm-7">
                        <p class="form-control-static">{{passLineBusinessBasicInfo.businessSituation}}</p>
                    </div>
                </div>

                <div class="form-group col-sm-4">
                    <label class="col-sm-5 control-label">牌证类别：</label>
                    <div class="col-sm-7">
                        <p class="form-control-static">{{passLineBusinessBasicInfo.licenseType}}</p>
                    </div>
                </div>

                <div class="form-group col-sm-4">
                    <label class="col-sm-5 control-label">补换证次数：</label>
                    <div class="col-sm-7">
                        <p class="form-control-static">{{passLineBusinessBasicInfo.changeLicenseTimes}}</p>
                    </div>
                </div>

                <div class="form-group col-sm-4">
                    <label class="col-sm-5 control-label">一般信息变更次数：</label>
                    <div class="col-sm-7">
                        <p class="form-control-static">{{passLineBusinessBasicInfo.generalinfoChangeTimes}}</p>
                    </div>
                </div>

                <div class="form-group col-sm-4">
                    <label class="col-sm-5 control-label">营运状态变更次数：</label>
                    <div class="col-sm-7">
                        <p class="form-control-static">{{passLineBusinessBasicInfo.businessinfoChangeTimes}}</p>
                    </div>
                </div>

                <div class="form-group col-sm-4">
                    <label class="col-sm-5 control-label">投入的车辆总数：</label>
                    <div class="col-sm-7">
                        <p class="form-control-static">{{passLineBusinessBasicInfo.inputTotalCar}}</p>
                    </div>
                </div>

                <div class="form-group col-sm-4">
                    <label class="col-sm-5 control-label">投入车辆的座位总数：</label>
                    <div class="col-sm-7">
                        <p class="form-control-static">{{passLineBusinessBasicInfo.inputTotalSeat}}</p>
                    </div>
                </div>

                <div class="form-group col-sm-4">
                    <label class="col-sm-5 control-label">线路牌总数：</label>
                    <div class="col-sm-7">
                        <p class="form-control-static">{{passLineBusinessBasicInfo.totalLinePlate}}</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
