
<div class="querys">
    <div class="row form-horizontal">
        <div class="col-sm-10">
            <div class="form-group">
                <label class="col-sm-2 control-label">查岗时间：</label>
                <div class="col-sm-10">
                    <input type="radio" name="date" value="day" [(ngModel)]="date" (click)="clear()">日&nbsp;
                    <input type="radio" name="date" value="month" [(ngModel)]="date" (click)="clear()">月&nbsp;
                    <input type="radio" name="date" value="year" [(ngModel)]="date" (click)="clear()">年
                    <input readonly="true" pInputText placeholder="请选择开始日期..." [(ngModel)]="startDate" (click)="changeStartDate()">                    -
                    <input readonly="true" pInputText placeholder="请选择结束日期..." [(ngModel)]="endDate" (click)="changeEndDate()">

                    <div class="child-startDate">
                        <datepicker *ngIf="showStartDate" [(ngModel)]="sd" [datepickerMode]="date" [maxMode]="date" [minMode]="date" (activeDateChange)="activeDateChange()"></datepicker>
                    </div>
                    <div class="child-endDate">
                        <datepicker *ngIf="showEndDate" [(ngModel)]="ed" [datepickerMode]="date" [maxMode]="date"
                                    [minMode]="date" (activeDateChange)="activeDateChange()"></datepicker>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-5" isCompanyUser>
            <div class="form-group">
                <label class="col-sm-4 control-label">业户名称：</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" [(ngModel)]="company" name="company" placeholder="请输入业户名称..." />
                </div>
            </div>
        </div>

        <div class="col-sm-5 col-sm-offset-1">
            <button pButton label="检索" type="button" (click)="onSearch()"></button>
            <button pButton label="重置" type="button" (click)="onReset()"></button>
        </div>
    </div>
</div>
<p-dataTable [value]="checkStatisticList" [emptyMessage]="'暂无数据'" [lazy]="true" [rows]="pageMax" [totalRecords]="pageTotal" [paginator]="true" (onLazyLoad)="paginate($event)" [(first)]="pageFirst" >
    <p-column field="ownerName" header="业户名称"></p-column>
    <p-column field="responsed" header="已应答"></p-column>
    <p-column field="noResponse" header="未应答"></p-column>
    <p-column field="responseRate" header="应答率"></p-column>
</p-dataTable>
