.map-footer {
    position: fixed;
    /* left: 19%; */
    bottom: 0;
    overflow: scroll;
    height: 200px;
    /* width: 79%; */
    width: calc(100% - 330px);
}

.map-footer .table-row {
    /* width: 82%; */
    width: calc(100% + 15px);
}

.map-left .table-row {
    /* width: 95%; */
    width: calc(100% + 15px);
}

.map-footer .panel-heading {
    padding: 0 15px;
}

.text-center {
    text-align: center;
    margin-right: 20%;
    margin-top: 5%;
}

.text-center span {
    font-size: 18px;
}
