<div class="panel panel-default" *ngIf="action=='list'">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-4">
                <div class="input-group">
                    <span class="input-group-addon">企业名称：</span>
                    <input type="text" class="form-control" [(ngModel)]="ownerName" placeholder="请输入企业名称..."/>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-addon">有效期至：</span>
                    <p-calendar [showTime]="true" dateFormat="yy-mm-dd" [(ngModel)]="dateBegin"></p-calendar>
                    -
                    <p-calendar [showTime]="true" dateFormat="yy-mm-dd" [(ngModel)]="dateEnd"></p-calendar>
                </div>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-primary" (click)="search()">检索</button>
                <button type="button" class="btn btn-primary" (click)="reset()">重置</button>
            </div>
        </div>
    </div>

    <div class="panel-body">
        <div class="top-buttons">
            <button pButton type="button" label="新增"
                    (click)="onCreate()"></button>
        </div>
        <p-dataTable [emptyMessage]="'暂无数据'" [value]="regulationList">
            <p-column field="ownerName" header="企业名称" ></p-column>
            <p-column field="regulationName" header="制度名称" ></p-column>
            <p-column field="fileName" header="文件名"></p-column>
            <p-column field="fileType" header="文件类型" ></p-column>
            <p-column field="fileSize" header="文件大小（KB）" ></p-column>
            <p-column field="dateCreated" header="创建时间" ></p-column>
        </p-dataTable>
        <p-paginator rows="{{max}}" totalRecords="{{total}}" (onPageChange)="paginate($event)"></p-paginator>
    </div>
</div>
<div class="row" *ngIf="action=='create'">
    <div class="panel-heading">
        <div class="row">
            <div class="col-sm-10 text-left">
                <h4>
                    新增管理制度
                </h4>
            </div>
            <div class="col-sm-2">
                <button pButton type="button"  label="返回"></button>
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-3 control-label"><span class="notNull">*</span>制度名称：</label>
                        <div class="col-sm-2">
                            <input class="form-control" id="name" name="name" [(ngModel)]="regulationName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label"><span class="notNull">*</span>请选择：</label>
                            <input type="file" id="file" name="file" (change)="fileChangeEvent($event)">
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-5 col-sm-10">
                            <button pButton type="button" label="保存" (click)="onSave()"></button>
                            <button pButton type="button" label="返回" (click)="return()"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
