.u-content {
    height: 83% !important;
    padding:10px;

    margin-top:60px;
}
.u-content-sidebar{
    margin-left:100px;
}
.u-content-active{
    margin-left:300px;
}
.u-footer-active{
     margin-left:40px;
}
.u-footer{
    /*height:5%;*/
    margin-left: 0px;
    line-height: 30px;
    font-size: 13px;
    background-color: #3192e1;
    color:white;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    position:fixed;
    bottom:0px;
    left:0px;
}
.u-footer > a {
    color:white;
    padding:0px;
    margin:0px;
    font-family: "Microsoft YaHei";
    font-size: 14px;
}
.u-navigation{
    margin:0px;
    padding:0px;
    background-color: #3192e1;
    color:white;
    border:0px;

}
.navbar{border-radius:0px}

ul.nav li.hoverdown a {
    color: #FFF;
}

.hoverdown-menu{
    width:100px;
}
ul.nav li.hoverdown:hover {
    background-color: white;

}
ul.nav li.hoverdown:hover  a {
    color:black;
    text-decoration: none;
}
ul.nav li.hoverdown:hover > ul.hoverdown-menu {
    display: block;
}
.hoverdown-menu{
    position: absolute;
    top: 100%;
    display: none;
    background-color: #FFF;
    border-left: 1px solid rgba(0, 0, 0, 0.15);
    border-right: 1px solid rgba(0, 0, 0, 0.15);
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
    list-style: outside none none;
    z-index: 1000;
    left:auto;
    right:0;
    background-clip: padding-box;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 8px 15px;
    color: 	#333;
    line-height: 22px;
    text-align: center;

}
.hoverdown-menu ul{
    float: left;
    list-style: outside none none;
    padding: 0px 5px;

}
.hoverdown-menu ul li a{
    color:#66bb6a;
}
.hoverdown-menu ul li a:hover{
    cursor: hand;
}
.hoverdown-divider {
    height: 1px;
    width: 100%;
    background-color: #ddd;
    overflow: hidden;
}
.hoverdown li > a:hover:before {
    content:'| ';
}

.hoverdown li > a:hover {
    font-weight: bold;

}
.hoverdown-menu li a:before{
    content:'| ';
    color:#ffffff;
}
.topbar-badge {
    position: absolute;
    right: 0px;
    top: 5px;
    background-color: red;/*#8BC34A;*/
    color: #ffffff;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    padding: 2px 4px;
    display: block;
    font-size: 12px;
    line-height: 12px;
    text-decoration: blink;
}
.navbar-brand{
    color:white;
}
.navbar-brand:hover {
    color:white;
    text-decoration: none;
}
.u-navigation-ul > li > a{
    color:white
}
.u-navigation .logo img {
    width: 40px;
    height: 50px;
    margin-top: -10px;
}
.u-navigation  .logo {
    width: 62px;
    height: 60px;
    background-color: #1b6bad;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    padding-top: 15px;
    box-sizing: border-box;
}
.brand{
   display: inline-block;
   vertical-align: middle;
    text-align: center;
}
.layout-sidebar {
  position: fixed;
  top: 60px;
  width: 100px;
  background-color: #dee0e3;
  height: 100%;
  -webkit-box-shadow: 3px 0px 10px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 3px 0px 10px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 3px 0px 10px 0 rgba(0, 0, 0, 0.2);
  z-index: 100;
  -moz-transition: width 0.3s;
  -o-transition: width 0.3s;
  -webkit-transition: width 0.3s;
  transition: width 0.3s; }
.layout-sidebar .layout-tabmenu {
    height: 100%;
    width: 100px;
    position: relative; }
.layout-sidebar .layout-tabmenu .layout-tabmenu-nav {
      margin: 0;
      padding: 0;
      display: block;
      z-index: 100; }
.layout-sidebar .layout-tabmenu .layout-tabmenu-nav li {
        list-style-type: none;
        text-align: left;
        box-sizing: border-box;
        position: relative; }
.layout-sidebar .layout-tabmenu .layout-tabmenu-nav li a {
          display: block;
          padding: 15px 5px;
          height: 50px;
          width: 100%;
          box-sizing: border-box;
          border-bottom: 1px solid #c7c7c7; }
.layout-sidebar .layout-tabmenu .layout-tabmenu-nav li a i {
            -moz-transition: color 0.3s;
            -o-transition: color 0.3s;
            -webkit-transition: color 0.3s;
            transition: color 0.3s;
            color: #999999;
            font-size: 18px;
}
.layout-sidebar .layout-tabmenu .layout-tabmenu-nav li a:hover + .layout-tabmenu-tooltip {
            display: block; }
.layout-sidebar .layout-tabmenu .layout-tabmenu-nav li a:hover i {
            color: #7a7a7a; }
.layout-sidebar .layout-tabmenu .layout-tabmenu-nav li .layout-tabmenu-tooltip {
          display: none;
          padding: 0 5px;
          position: absolute;
          left: 100px;
          top: 10px;
          z-index: 101;
          line-height: 1; }
.layout-sidebar .layout-tabmenu .layout-tabmenu-nav li .layout-tabmenu-tooltip .layout-tabmenu-tooltip-text {
            padding: 3px 10px;
            background-color: #545b61;
            color: #ffffff;
            min-width: 75px;
            -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
            -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3); }
.layout-sidebar .layout-tabmenu .layout-tabmenu-nav li .layout-tabmenu-tooltip .layout-tabmenu-tooltip-arrow {
            position: absolute;
            width: 0;
            height: 0;
            border-color: transparent;
            border-style: solid;
            top: 50%;
            left: 0;
            margin-top: -5px;
            border-width: 5px 5px 5px 0;
            border-right-color: #545b61; }
.layout-sidebar .layout-tabmenu .layout-tabmenu-nav li.active-item {
          border-left: 4px solid #3192e1;
          background-color: #ebebee; }
.layout-sidebar .layout-tabmenu .layout-tabmenu-nav li.active-item a i {
            color: #2d353c;
            margin-left: -4px; }
.layout-sidebar .layout-tabmenu .layout-tabmenu-nav li.active-item a .layout-tabmenu-tooltip {
            left: 56px; }
.layout-sidebar .layout-tabmenu .layout-tabmenu-contents {
      width: 200px;
      position: absolute;
      top: 0;
      left: 100px;
      display: none;
      background-color: #ebebee;
      height: 100%;
    }
 .layout-sidebar .layout-tabmenu .tabmenu-contents-active{
        display:block;
    }
.layout-sidebar .layout-tabmenu .layout-tabmenu-contents .layout-tabmenu-content {
        height: 100%;
        display: block;
        /*display: none; */
    }

.layout-sidebar .layout-tabmenu .layout-tabmenu-contents .layout-tabmenu-content a {
          color: #545b61; }
.layout-sidebar .layout-tabmenu .layout-tabmenu-contents .layout-tabmenu-content .layout-submenu-title {
          padding: 10px 12px;
          height: 40px;
          box-sizing: border-box;
          border-bottom: 1px solid #c7c7c7;
          font-size: 16px; }
.layout-sidebar .layout-tabmenu .layout-tabmenu-contents .layout-tabmenu-content .layout-submenu-title .menu-button {
            padding: 0px 4px;
            float: right;
            -moz-transition: background-color 0.3s;
            -o-transition: background-color 0.3s;
            -webkit-transition: background-color 0.3s;
            transition: background-color 0.3s; }

.layout-sidebar .layout-tabmenu .layout-tabmenu-contents .layout-tabmenu-content .layout-submenu-content {
          padding: 6px 0px 6px 6px;
          height: 100%;
          overflow: auto; }
.layout-sidebar .layout-tabmenu .layout-tabmenu-contents .layout-tabmenu-content .layout-submenu-content .nano > .nano-content {
            padding-right: 6px; }
.layout-sidebar .layout-tabmenu .layout-tabmenu-contents .layout-tabmenu-content .layout-submenu-content .nano > .nano-content.menu-scroll-content {
              display: block;
              height: 100%;
              overflow-x: hidden;
              overflow-y: scroll;
              position: relative; }
.layout-sidebar .layout-tabmenu .layout-tabmenu-contents .layout-tabmenu-content .layout-submenu-content .nano > .nano-content > *:last-child {
              padding-bottom: 100px; }
.layout-sidebar .layout-tabmenu .layout-tabmenu-contents .layout-tabmenu-content .layout-submenu-content .nano > .nano-pane > .nano-slider {
            background-color: #aaa;
            opacity: 0.4; }
.layout-sidebar .layout-tabmenu .layout-tabmenu-contents .layout-tabmenu-content .layout-submenu-content .navigation-menu {
            margin: 0;
            padding: 0;
            list-style-type: none; }
 .layout-sidebar .layout-tabmenu .layout-tabmenu-contents .layout-tabmenu-content .layout-submenu-content .navigation-menu li > a {
              display: block;
              padding: 6px;
              -moz-transition: background-color 0.3s;
              -o-transition: background-color 0.3s;
              -webkit-transition: background-color 0.3s;
              transition: background-color 0.3s;
              cursor: pointer;
              -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
              text-decoration: none;
              /*-webkit-user-modify: read-write-plaintext-only;*/
              /*outline: none;*/
}
.layout-sidebar .layout-tabmenu .layout-tabmenu-contents .layout-tabmenu-content .layout-submenu-content .navigation-menu li > a i:first-child {
                -moz-transition: color 0.3s;
                -o-transition: color 0.3s;
                -webkit-transition: color 0.3s;
                transition: color 0.3s;
                color: #999999;
                margin-right: 4px;

}
 .layout-sidebar .layout-tabmenu .layout-tabmenu-contents .layout-tabmenu-content .layout-submenu-content .navigation-menu li > a i:last-child {
                float: right;
                margin-top: 2px;
                -moz-transition: transform 0.3s;
                -o-transition: transform 0.3s;
                -webkit-transition: transform 0.3s;
                transition: transform 0.3s; }
 .layout-sidebar .layout-tabmenu .layout-tabmenu-contents .layout-tabmenu-content .layout-submenu-content .navigation-menu li > a:hover {
                background-color: #e3e3e3; }
.layout-sidebar .layout-tabmenu .layout-tabmenu-contents .layout-tabmenu-content .layout-submenu-content .navigation-menu li > a:hover i:first-child {
                  color: #545b61; }
.layout-sidebar .layout-tabmenu .layout-tabmenu-contents .layout-tabmenu-content .layout-submenu-content .navigation-menu li > a.active-menuitem-routerlink {
                color: #3192e1; }
.layout-sidebar .layout-tabmenu .layout-tabmenu-contents .layout-tabmenu-content .layout-submenu-content .navigation-menu li > a.active-menuitem-routerlink i:first-child {
                  color: #3192e1; }
.layout-sidebar .layout-tabmenu .layout-tabmenu-contents .layout-tabmenu-content .layout-submenu-content .navigation-menu li > ul {
              margin: 0;
              padding: 0 0 0 18px;
              list-style-type: none;
              overflow: hidden; }
 .layout-sidebar .layout-tabmenu .layout-tabmenu-contents .layout-tabmenu-content .layout-submenu-content .navigation-menu li.active-menuitem > a {
              color: #3192e1; }
.layout-sidebar .layout-tabmenu .layout-tabmenu-contents .layout-tabmenu-content .layout-submenu-content .navigation-menu li.active-menuitem > a i:first-child {
                color: #3192e1; }
.layout-sidebar .layout-tabmenu .layout-tabmenu-contents .layout-tabmenu-content .layout-submenu-content .navigation-menu li.active-menuitem > a i:last-child {
                -webkit-transform: rotate(-180deg);
                -moz-transform: rotate(-180deg);
                -o-transform: rotate(-180deg);
                -ms-transform: rotate(-180deg);
                transform: rotate(-180deg); }
.layout-sidebar.layout-sidebar-dark {
    background-color: #545b61; }
.layout-sidebar.layout-sidebar-dark .layout-tabmenu .layout-tabmenu-nav li a {
      border-bottom: 1px solid #767b7f; }
.layout-sidebar.layout-sidebar-dark .layout-tabmenu .layout-tabmenu-nav li a i {
        color: #8f8f8f; }
.layout-sidebar.layout-sidebar-dark .layout-tabmenu .layout-tabmenu-nav li a:hover i {
        color: #b3b3b3; }
 .layout-sidebar.layout-sidebar-dark .layout-tabmenu .layout-tabmenu-nav li.active-item {
      border-left: 4px solid #3192e1;
      background-color: #ebebee; }
.layout-sidebar.layout-sidebar-dark .layout-tabmenu .layout-tabmenu-nav li.active-item a {
        background-color: #63696e; }
.layout-sidebar.layout-sidebar-dark .layout-tabmenu .layout-tabmenu-nav li.active-item a i {
          color: #dee0e3;
          margin-left: -4px; }
.layout-sidebar.layout-sidebar-dark .layout-tabmenu .layout-tabmenu-contents {
      background-color: #63696e; }
.layout-sidebar.layout-sidebar-dark .layout-tabmenu .layout-tabmenu-contents .layout-tabmenu-content .layout-submenu-title {
        color: #dee0e3;
        border-bottom-color: #82878b; }
.layout-sidebar.layout-sidebar-dark .layout-tabmenu .layout-tabmenu-contents .layout-tabmenu-content .layout-submenu-title .menu-button {
          color: #dee0e3; }
.layout-sidebar.layout-sidebar-dark .layout-tabmenu .layout-tabmenu-contents .layout-tabmenu-content .layout-submenu-title .menu-button:hover {
            background-color: #767b7f; }
.layout-sidebar.layout-sidebar-dark .layout-tabmenu .layout-tabmenu-contents .layout-submenu-content .navigation-menu li > a {
        color: #dee0e3; }
.layout-sidebar.layout-sidebar-dark .layout-tabmenu .layout-tabmenu-contents .layout-submenu-content .navigation-menu li > a i:first-child {
          color: #dee0e3; }
.layout-sidebar.layout-sidebar-dark .layout-tabmenu .layout-tabmenu-contents .layout-submenu-content .navigation-menu li > a:hover {
          background-color: #767b7f; }
.layout-sidebar.layout-sidebar-dark .layout-tabmenu .layout-tabmenu-contents .layout-submenu-content .navigation-menu li > a:hover i:first-child {
            color: #dee0e3; }
.layout-sidebar.layout-sidebar-dark .layout-tabmenu .layout-tabmenu-contents .layout-submenu-content .navigation-menu li > a.active-menuitem-routerlink {
          color: #74b5eb; }
.layout-sidebar.layout-sidebar-dark .layout-tabmenu .layout-tabmenu-contents .layout-submenu-content .navigation-menu li > a.active-menuitem-routerlink i:first-child {
            color: #74b5eb; }
.layout-sidebar.layout-sidebar-dark .layout-tabmenu .layout-tabmenu-contents .layout-submenu-content .navigation-menu li.active-menuitem > a {
        color: #74b5eb; }
.layout-sidebar.layout-sidebar-dark .layout-tabmenu .layout-tabmenu-contents .layout-submenu-content .navigation-menu li.active-menuitem > a i:first-child {
          color: #74b5eb; }
-menu-active .layout-tabmenu .layout-tabmenu-nav > li.active-item > a:hover + .layout-tabmenu-tooltip {
  display: none; }
.layout-main {
  margin-left: 100px;
  padding: 70px 6px 0px 6px;
  -moz-transition: margin-left 0.3s;
  -o-transition: margin-left 0.3s;
  -webkit-transition: margin-left 0.3s;
  transition: margin-left 0.3s; }

.layout-sidebar .layout-tabmenu .layout-tabmenu-contents .layout-tabmenu-content .layout-submenu-content .navigation-menu li a span {
    display: inline-block;
    vertical-align: middle;
}

 /*.footer {
  background-color: #dee0e3;
  padding: 8px 14px; }
 .footer img {
    width: 36px;
    margin-right: 8px;
    vertical-align: middle; }
.footer span {
    vertical-align: middle; }
.footer a {
    float: right;
    font-size: 16px;
    margin-left: 8px;
    display: block;
    color: #2d353c; }*/

.layout-sidebar a{
    text-decoration: none;
}

.layout-tabmenu-title{
    color: #545b61;
    padding-left:5px;
}

