<u-topbar></u-topbar>
<u-sidebar [activeMenu]="activeMenu"></u-sidebar>
<div class="u-content">
  <div class="ui-g">
    <div class="ui-g-12" >
      <p-tabView #tabroot  [style]="{'width':'100%'}" 
       [controlClose]="true" (onClose)="onCloseTab($event)" [lazy]="false">
          <p-tabPanel *ngFor="let tabitem of tabs" header="{{tabitem.header}}" leftIcon="{{tabitem.icon}}" [closable]="tabitem.closable" [selected]="tabitem.selected" >
            <dynamic-container [componentName]="tabitem.code" [inputs]="tabitem.inputs" ></dynamic-container>
          </p-tabPanel>
      </p-tabView> 
    </div> 
  </div>
</div>
<u-footer></u-footer>
