<div class="panel panel-default" *ngIf="(pageFlag=='LIST')">
  <div class="panel-heading">
    <div class="row">
      <div class="col-md-3">
        <div class="input-group">
          <span class="input-group-addon">车牌号：</span>
          <input type="text" class="form-control" [(ngModel)]="vehicleNo"/>
        </div>
      </div>
      <div class="col-md-6">
      </div>
      <div class="col-md-3">
        <button type="button" class="btn btn-primary" (click)="search()">检索</button>
        <button type="button" class="btn btn-primary" (click)="add()">新增</button>
        <button type="button" class="btn btn-primary" (click)="reset()">重置</button>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <p-dataTable [emptyMessage]="'暂无数据'" [value]="whiteLists">
      <p-column field="vehicleNo" header="车牌号"></p-column>
      <p-column field="controlBegin" header="布控解除时间"></p-column>
      <p-column field="status" header="布控状态"></p-column>
      <p-column field="" header="操作">
        <ng-template let-data="rowData" pTemplate="body">
          <button type="button" class="btn btn-primary btn-xs" (click)="showDetail(data.id)">详情</button>
          <button type="button" class="btn btn-primary btn-xs" (click)="update(data.id)">修改</button>
          <button type="button" class="btn btn-primary btn-xs" (click)="delete(data.id,data.vehicleNo)">删除</button>
        </ng-template>
      </p-column>
    </p-dataTable>
    <p-paginator rows="{{max}}" totalRecords="{{total}}" (onPageChange)="paginate($event)"></p-paginator>
  </div>
</div>
<div class="panel panel-default" *ngIf="(pageFlag=='ADD')">
  <div class="panel-heading">
    <h4>新增黑名单信息</h4>
  </div>
  <div class="panel-body no-padding">
    <div class="form-horizontal col-md-6">
      <div class="form-group">
        <label class="col-xs-4  text-right">车辆号牌：</label>
        <div class="col-xs-6 ">
          <input type="text" class="form-control" [(ngModel)]="whiteList.vehicleNo">
        </div>
      </div>
      <div class="form-group">
        <label class="col-xs-4 col-sm-4 text-right">布控状态：</label>
        <div class="col-xs-6 cole-sm-6 ">
          <p-dropdown [options]="status" [(ngModel)]="whiteList.status"></p-dropdown>
        </div>
      </div>
    </div>
    <div class="form-horizontal col-md-6">
       <div class="form-group">
        <label class="col-xs-4 col-sm-4 text-right">布控开始时间：</label>
        <div class="col-xs-6 cole-sm-6 ">
          <p-calendar [showTime]="true" dateFormat="yy-mm-dd" [showIcon]="true"
                      [(ngModel)]="whiteList.controlBegin"></p-calendar>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-footer">
    <div class="row">
      <div class="col-md-6 col-md-offset-5">
        <button type="button" class="btn btn-primary" (click)="submitAdd()">确定</button>
        <button type="button" class="btn btn-primary" (click)="switchPage()">取消</button>
      </div>
    </div>
  </div>
</div>
<p-dialog [showHeader]="false" [(visible)]="detailFlag" *ngIf="detailFlag" modal="modal" width="900"
          [responsive]="true">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="row">
        <div class="col-sm-10 text-left">
          <h5>
            白名单详情信息
          </h5>
        </div>
        <div class="col-sm-2">
          <button pButton type="button" icon="fa-close" label="关闭" (click)="closeDialog()"></button>
        </div>
      </div>
    </div>
    <div class="panel-body no-padding" style=" overflow-y:auto;  height:400px;">
      <table class="table table-striped">
        <tr>
          <td><label>车牌号：</label></td>
          <td>{{detail.vehicleNo}}</td>
          <td><label>车辆颜色：</label></td>
          <td>{{detail.carColor}}</td>
        </tr>
        <tr>
          <td><label>车牌颜色：</label></td>
          <td>{{detail.carPlateColor}}</td>
          <td><label>车辆类型：</label></td>
          <td>{{detail.carType}}</td>
        </tr>
        <tr>
          <td><label>布控解除时间：</label></td>
          <td>{{detail.controlBegin}}</td>
          <td><label>布控状态：</label></td>
          <td>{{detail.status}}</td>
        </tr>
      </table>
    </div>
  </div>
</p-dialog>
<div class="panel panel-default" *ngIf="(pageFlag=='UPDATE')">
  <div class="panel-heading">
    <h4>修改白名单信息</h4>
  </div>
  <div class="panel-body no-padding">
    <div class="form-horizontal col-md-6">
      <div class="form-group">
        <label class="col-xs-4  text-right">车辆号牌：</label>
        <div class="col-xs-6 ">
          <input class="form-control" disabled [(ngModel)]="whiteList.vehicleNo">
        </div>
      </div>
      <div class="form-group">
        <label class="col-xs-4 col-sm-4 text-right">布控状态：</label>
        <div class="col-xs-6 cole-sm-6 ">
          <p-dropdown [options]="status" [(ngModel)]="whiteList.status"></p-dropdown>
        </div>
      </div>
    </div>
    <div class="form-horizontal col-md-6">
      <div class="form-group">
        <label class="col-xs-4 col-sm-4 text-right">布控开始时间：</label>
        <div class="col-xs-6 cole-sm-6 ">
          <p-calendar [showTime]="true" dateFormat="yy-mm-dd" [showIcon]="true"
                      [(ngModel)]="whiteList.controlBegin"></p-calendar>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-footer">
    <div class="row">
      <div class="col-md-6 col-md-offset-5">
        <button type="button" class="btn btn-primary" (click)="submitUpdate(whiteList.id)">确定</button>
        <button type="button" class="btn btn-primary" (click)="switchPage()">取消</button>
      </div>
    </div>
  </div>
</div>
