
<div *ngIf="pageFlag=='LIST'">
  <div class="querys">
    <div class="row form-horizontal">
      <div class="col-sm-5">
        <div class="form-group">
          <label class="col-sm-4 control-label">车牌号：</label>
          <div class="col-sm-8">
            <input type="text" class=" form-control" [(ngModel)]="vehicleNo" />
          </div>
        </div>
      </div>
      <div class="col-sm-5 col-sm-offset-1">
        <button type="button" pButton label="检索" (click)="search()"></button>
        <button type="button" pButton label="重置" (click)="reset()"></button>
      </div>
    </div>
  </div>
  <div class="top-buttons">
    <button pButton type="button" label="新增" (click)="add()"></button>
  </div>
  <div class='basic-bottom'>
      <p-dataTable [emptyMessage]="'暂无数据'" [value]="whiteLists">
        <p-column field="vehicleNo" header="车牌号"></p-column>
        <p-column field="controlBegin" header="布控解除时间"></p-column>
        <p-column field="status" header="布控状态"></p-column>
        <p-column field="" header="操作" styleClass=operation-buttons-3>
          <ng-template let-data="rowData" pTemplate="body">
            <div role="button" class="fa fa-list fa-font-size div-distance" (click)="showDetail(data.id)" tooltip="详情" placement="bottom"></div>
            <div role="button" class="fa fa-pencil-square-o fa-font-size div-distance" (click)="update(data.id)" tooltip="编辑" placement="bottom"></div>
            <div role="button" class="fa fa-times fa-font-size div-distance" (click)="delete(data.id,data.vehicleNo)" tooltip="删除" placement="bottom"></div>
          </ng-template>
        </p-column>
      </p-dataTable>
      <p-paginator rows="{{max}}" totalRecords="{{total}}" (onPageChange)="paginate($event)"></p-paginator>
  </div>
</div>

<div class="panel panel-default" *ngIf="(pageFlag=='ADD')">
  <div class="panel-heading">
    新增
  </div>
  <div class="panel-body no-padding">
    <div class="form-horizontal col-md-6">
      <div class="form-group">
        <label class="col-sm-3 control-label"><span class="required">*</span>车辆号牌：</label>
        <div class="col-xs-6 ">
          <input type="text" class="form-control" [(ngModel)]="whiteList.vehicleNo">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label"><span class="required">*</span>布控状态：</label>
        <div class="col-xs-6 cole-sm-6 ">
          <p-dropdown [options]="status" [(ngModel)]="whiteList.status"></p-dropdown>
        </div>
      </div>
    </div>
    <div class="form-horizontal col-md-6">

      <div class="form-group">
        <label class="col-xs-4 control-label col-sm-4 text-right"><span class="required">*</span>布控开始时间：</label>
        <div class="col-xs-6 cole-sm-6 ">
          <p-calendar [showTime]="true" dateFormat="yy-mm-dd" [showIcon]="true" [(ngModel)]="whiteList.controlBegin" tyleClass=calendar-span inputStyleClass=calendar [locale]="zh"></p-calendar>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-footer">
    <div class="row">
      <div class="col-md-6 col-md-offset-5">
        <button type="button" class="btn btn-primary" (click)="submitAdd()">确定</button>
        <button type="button" class="btn btn-primary" (click)="switchPage()">取消</button>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default panel-show" *ngIf="(pageFlag=='DETAIL')">
  <div class="panel-heading">
    详情
    <button type="button" class="btn back-btn btn-primary" (click)="switchPage()">返回</button>
  </div>
  <div class="panel-body no-padding showDetails">
    <div class="col-sm-12 form-horizontal">
      <div class="row">
        <div class="form-group col-sm-4">
          <label class="col-sm-5 control-label">车牌号：</label>
          <div class="col-sm-7">
            <p class="form-control-static">{{detail.vehicleNo}}</p>
          </div>
        </div>
        <div class="form-group col-sm-4">
          <label class="col-sm-5 control-label">车辆颜色：</label>
          <div class="col-sm-7">
            <p class="form-control-static">{{detail.carColor}}</p>
          </div>
        </div>
        <div class="form-group col-sm-4">
          <label class="col-sm-5 control-label">车牌颜色：</label>
          <div class="col-sm-7">
            <p class="form-control-static">{{detail.carPlateColor}}</p>
          </div>
        </div>
        <div class="form-group col-sm-4">
          <label class="col-sm-5 control-label">车辆类型：</label>
          <div class="col-sm-7">
            <p class="form-control-static">{{detail.carType}}</p>
          </div>
        </div>
        <div class="form-group col-sm-4">
          <label class="col-sm-5 control-label">布控解除时间：</label>
          <div class="col-sm-7">
            <p class="form-control-static">{{detail.controlBegin}}</p>
          </div>
        </div>
        <div class="form-group col-sm-4">
          <label class="col-sm-5 control-label">布控状态：</label>
          <div class="col-sm-7">
            <p class="form-control-static">{{detail.controlBegin}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default" *ngIf="(pageFlag=='UPDATE')">
  <div class="panel-heading">
    修改
  </div>
  <div class="panel-body no-padding">
    <div class="form-horizontal col-md-6">
      <div class="form-group">
        <label class="col-sm-3 control-label"><span class="required">*</span>车辆号牌：</label>
        <div class="col-xs-6 ">
          <input class="form-control" disabled [(ngModel)]="whiteList.vehicleNo">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label"><span class="required">*</span>布控状态：</label>
        <div class="col-xs-6 cole-sm-6 ">
          <p-dropdown [options]="status" [(ngModel)]="whiteList.status"></p-dropdown>
        </div>
      </div>
    </div>
    <div class="form-horizontal col-md-6">
      <div class="form-group">
        <label class="col-sm-3 control-label"><span class="required">*</span>布控开始时间：</label>
        <div class="col-xs-6 cole-sm-6 ">
          <p-calendar [showTime]="true" dateFormat="yy-mm-dd" [showIcon]="true" [(ngModel)]="whiteList.controlBegin" tyleClass=calendar-span inputStyleClass=calendar [locale]="zh"></p-calendar>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-footer">
    <div class="row">
      <div class="col-md-6 col-md-offset-5">
        <button type="button" class="btn btn-primary" (click)="submitUpdate(whiteList.id)">确定</button>
        <button type="button" class="btn btn-primary" (click)="switchPage()">取消</button>
      </div>
    </div>
  </div>
</div>
