<div class="querys" *ngIf="(action=='list')">
    <div class="row form-horizontal">
        <div class="col-sm-5">
            <div class="form-group">
                <label class="col-sm-4 control-label">行业类别：</label>
                <div class="col-sm-8">
                    <p-dropdown [options]="businessTypes" [(ngModel)]="businessType" placeholder="请选择行业类别" styleClass=p-dropdown-form-control></p-dropdown>
                </div>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="form-group">
                <label class="col-sm-4 control-label">有效期至：</label>
                <div class="col-sm-8 calendar-group">
                    <div class="cgl">
                        <p-calendar [(ngModel)]="dateBegin" [showTime]="true" [showIcon]="true" dateFormat="yy-mm-dd" styleClass=calendar-span inputStyleClass=calendar
                            [locale]="zh"></p-calendar>
                    </div>
                    <div class="cgm">-</div>
                    <div class="cgr">
                        <p-calendar [(ngModel)]="dateEnd" [showTime]="true" [showIcon]="true" dateFormat="yy-mm-dd" styleClass=calendar-span inputStyleClass=calendar
                            [locale]="zh"></p-calendar>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="form-group">
                <label class="col-sm-4 control-label">车牌号码：</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" [(ngModel)]="licenseNo" id="licenseNo" placeholder="所有车辆">
                </div>
            </div>
        </div>

        <div class="col-sm-5 col-sm-offset-1">
            <button type="button" pButton label="检索" (click)="search()"></button>
            <button type="button" pButton label="重置" (click)="onReset()"></button>
        </div>
    </div>
</div>

<div class='basic-bottom' *ngIf="(action=='list')">
    <p-dataTable [value]="cars" [emptyMessage]="'暂无数据'" [lazy]="true" [rows]="pageMax" [totalRecords]="pageTotal" [paginator]="true" (onLazyLoad)="paginate($event)" [(first)]="pageFirst" >
        <p-column field="transformLicenseNo" header="道路运输证号"></p-column>
        <p-column field="licenseNo" header="车辆（挂车）号牌"></p-column>
        <p-column field="ownerName" header="业户名称"></p-column>
        <p-column field="frameNo" header="车架号"></p-column>
        <p-column field="carType" header="车辆类型"></p-column>
        <p-column field="carPlateColor" header="车牌颜色"></p-column>
        <p-column field="carColor" header="车身颜色"></p-column>
        <p-column field="endTime" header="资格有效期至"></p-column>
        <p-column field="" header="操作" styleClass=operation-buttons-4>
            <ng-template let-item="rowData" pTemplate="body">
                <div role="button" class="fa fa-refresh fa-font-size div-distance" (click)="showRealTimeMap(item)" tooltip="实时状态" placement="bottom"></div>
                <div role="button" class="fa fa-eercast fa-font-size div-distance" (click)="showRealTimeMonitorMap(item)" tooltip="实时监控"
                    placement="bottom"></div>
                <div role="button" class="fa fa-history fa-font-size div-distance" (click)="showHistoryMapp(item)" tooltip="历史轨迹" placement="bottom"></div>
                <div role="button" class="fa fa-list fa-font-size div-distance" (click)="showDetail(item)" tooltip="详情" placement="bottom"></div>
            </ng-template>
        </p-column>
    </p-dataTable>
</div>

<div class="position panel-show" *ngIf="(action=='detail')">
    <button type="button" class="btn back-btn btn-primary btn-position" (click)="return()">返回</button>
    <p-tabView>
        <p-tabPanel header="详情">
            <div class="panel panel-default panel-show">
                <div class="panel-body no-padding showDetails">
                    <div class="col-sm-12 form-horizontal">
                        <div class="row">
                            <div class="form-group col-sm-4">
                                <label class="col-sm-5 control-label">车牌号：</label>
                                <div class="col-sm-7">
                                    <p class="form-control-static">{{car.licenseNo}}</p>
                                </div>
                            </div>
                            <div class="form-group col-sm-4">
                                <label class="col-sm-5 control-label">车架号：</label>
                                <div class="col-sm-7">
                                    <p class="form-control-static">{{car.frameNo}}</p>
                                </div>
                            </div>
                            <div class="form-group col-sm-4">
                                <label class="col-sm-5 control-label">车牌颜色：</label>
                                <div class="col-sm-7">
                                    <p class="form-control-static">{{car.carPlateColor}}</p>
                                </div>
                            </div>
                            <div class="form-group col-sm-4">
                                <label class="col-sm-5 control-label">厂牌：</label>
                                <div class="col-sm-7">
                                    <p class="form-control-static">{{car.brand}}</p>
                                </div>
                            </div>
                            <div class="form-group col-sm-4">
                                <label class="col-sm-5 control-label">型号：</label>
                                <div class="col-sm-7">
                                    <p class="form-control-static">{{car.model}}</p>
                                </div>
                            </div>
                            <div class="form-group col-sm-4">
                                <label class="col-sm-5 control-label">车辆类型：</label>
                                <div class="col-sm-7">
                                    <p class="form-control-static">{{car.carType}}</p>
                                </div>
                            </div>
                            <div class="form-group col-sm-4">
                                <label class="col-sm-5 control-label">客车等级：</label>
                                <div class="col-sm-7">
                                    <p class="form-control-static">{{car.passengerLevel}}</p>
                                </div>
                            </div>
                            <div class="form-group col-sm-4">
                                <label class="col-sm-5 control-label">车身颜色：</label>
                                <div class="col-sm-7">
                                    <p class="form-control-static">{{car.carColor}}</p>
                                </div>
                            </div>
                            <div class="form-group col-sm-4">
                                <label class="col-sm-5 control-label">发动机号：</label>
                                <div class="col-sm-7">
                                    <p class="form-control-static">{{car.engNo}}</p>
                                </div>
                            </div>
                            <div class="form-group col-sm-4">
                                <label class="col-sm-5 control-label">车辆识别VIP码：</label>
                                <div class="col-sm-7">
                                    <p class="form-control-static">{{car.carIdentityCode}}</p>
                                </div>
                            </div>
                            <div class="form-group col-sm-4">
                                <label class="col-sm-5 control-label">核定载客位：</label>
                                <div class="col-sm-7">
                                    <p class="form-control-static">{{car.seatNo}}</p>
                                </div>
                            </div>
                            <div class="form-group col-sm-4">
                                <label class="col-sm-5 control-label">车辆（挂车）吨位：</label>
                                <div class="col-sm-7">
                                    <p class="form-control-static">{{car.carTonnage}}</p>
                                </div>
                            </div>
                            <div class="form-group col-sm-4">
                                <label class="col-sm-5 control-label">车辆箱位：</label>
                                <div class="col-sm-7">
                                    <p class="form-control-static">{{car.carBoxNo}}</p>
                                </div>
                            </div>
                            <div class="form-group col-sm-4">
                                <label class="col-sm-5 control-label">罐体容积：</label>
                                <div class="col-sm-7">
                                    <p class="form-control-static">{{car.volume}}</p>
                                </div>
                            </div>
                            <div class="form-group col-sm-4">
                                <label class="col-sm-5 control-label">燃料类型：</label>
                                <div class="col-sm-7">
                                    <p class="form-control-static">{{car.fuelType}}</p>
                                </div>
                            </div>
                            <div class="form-group col-sm-4">
                                <label class="col-sm-5 control-label">发动机功率：</label>
                                <div class="col-sm-7">
                                    <p class="form-control-static">{{car.engPower}}</p>
                                </div>
                            </div>
                            <div class="form-group col-sm-4">
                                <label class="col-sm-5 control-label">出厂日期：</label>
                                <div class="col-sm-7">
                                    <p class="form-control-static">{{car.leaveFactoryTime}}</p>
                                </div>
                            </div>
                            <div class="form-group col-sm-4">
                                <label class="col-sm-5 control-label">购车日期：</label>
                                <div class="col-sm-7">
                                    <p class="form-control-static">{{car.buyCarTime}}</p>
                                </div>
                            </div>
                            <div class="form-group col-sm-4">
                                <label class="col-sm-5 control-label">落户日期：</label>
                                <div class="col-sm-7">
                                    <p class="form-control-static">{{car.settleTime}}</p>
                                </div>
                            </div>
                            <div class="form-group col-sm-4">
                                <label class="col-sm-5 control-label">更新时间：</label>
                                <div class="col-sm-7">
                                    <p class="form-control-static">{{car.modifyTime}}</p>
                                </div>
                            </div>
                            <div class="form-group col-sm-4">
                                <label class="col-sm-5 control-label">车辆照片：</label>
                                <div class="col-sm-7">
                                    <p class="form-control-static">{{car.picture}}</p>
                                </div>
                            </div>
                            <div class="form-group col-sm-4">
                                <label class="col-sm-5 control-label">轴距：</label>
                                <div class="col-sm-7">
                                    <p class="form-control-static">{{car.wheelbase}}</p>
                                </div>
                            </div>
                            <div class="form-group col-sm-4">
                                <label class="col-sm-5 control-label">车长：</label>
                                <div class="col-sm-7">
                                    <p class="form-control-static">{{car.carLength}}</p>
                                </div>
                            </div>
                            <div class="form-group col-sm-4">
                                <label class="col-sm-5 control-label">车高：</label>
                                <div class="col-sm-7">
                                    <p class="form-control-static">{{car.carHeight}}</p>
                                </div>
                            </div>
                            <div class="form-group col-sm-4">
                                <label class="col-sm-5 control-label">车宽：</label>
                                <div class="col-sm-7">
                                    <p class="form-control-static">{{car.carWidth}}</p>
                                </div>
                            </div>
                            <div class="form-group col-sm-4">
                                <label class="col-sm-5 control-label">车轴数：</label>
                                <div class="col-sm-7">
                                    <p class="form-control-static">{{car.carSmokeNo}}</p>
                                </div>
                            </div>
                            <div class="form-group col-sm-4">
                                <label class="col-sm-5 control-label">后轴钢板弹簧片数：</label>
                                <div class="col-sm-7">
                                    <p class="form-control-static">{{car.leafSpringNo}}</p>
                                </div>
                            </div>
                            <div class="form-group col-sm-4">
                                <label class="col-sm-5 control-label">准牵引总质量：</label>
                                <div class="col-sm-7">
                                    <p class="form-control-static">{{car.tractionTonnage}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </p-tabPanel>
        <p-tabPanel header="历史报警信息">
            <div class="panel panel-default panel-show">
                <div class="panel-body no-padding">
                    <div class="row">
                        <div class="col-md-12">
                            <p-dataTable [value]="warningList" [emptyMessage]="'暂无数据'" [lazy]="true" [rows]="pageMaxWarning" [totalRecords]="pageTotalWarning" [paginator]="true" (onLazyLoad)="paginateWarning($event)" [(first)]="pageFirstWarning">
                                <p-column field="frameNo" header="车架号"></p-column>
                                <p-column field="carLicenseNo" header="车牌号"></p-column>
                                <p-column field="carColor" header="车辆颜色"></p-column>
                                <p-column field="warningSource" header="报警信息来源"></p-column>
                                <p-column field="warningType" header="报警类型"></p-column>
                                <p-column field="warningTime" header="报警时间"></p-column>
                            </p-dataTable>
                        </div>
                    </div>
                </div>
            </div>
        </p-tabPanel>
        <p-tabPanel header="历史位置信息">
            <div class="panel panel-default panel-show">
                <div class="panel-body no-padding">
                    <div class="row">
                        <div class="col-md-12">
                            <p-dataTable styleClass="datatable-emptymessage" [value]="historyList" [emptyMessage]="'暂无数据'">
                                <p-column field="licenseNo" header="车牌号"></p-column>
                                <p-column field="carColor" header="车辆颜色"></p-column>
                                <p-column field="point" header="经纬度"></p-column>
                                <p-column field="speed" header="速度"></p-column>
                                <p-column field="totalMileage" header="总里程数"></p-column>
                                <p-column field="recSpeed" header="行驶记录速度"></p-column>
                                <p-column field="direction" header="方向"></p-column>
                                <p-column field="altitude" header="海拔高度"></p-column>
                                <p-column field="vehicleState" header="车辆状态"></p-column>
                                <p-column field="refreshTime" header="更新时间"></p-column>
                            </p-dataTable>
                        </div>
                    </div>
                </div>
            </div>
        </p-tabPanel>
    </p-tabView>
</div>
