<div class="panel panel-default main-content">
    <div class="panel-heading">
        <div class="row">
            <div class="col-sm-3">
                <div class="input-group">
                    <span class=" search-span input-group-addon">行业类别：</span>
                    <p-dropdown [options]="businessTypes" [(ngModel)]="businessType" placeholder="请选择行业类别"
                                [style]="{'width':'124px'}"></p-dropdown>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="input-group">
                    <span class=" search-span input-group-addon">车牌号码：</span>
                    <input type="text" class="search-input form-control" [(ngModel)]="licenseNo"
                           id="licenseNo" placeholder="所有车辆">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="input-group">
                    <label class="search-span input-group-addon">有效期至：</label>
                    <p-calendar [showTime]="true" dateFormat="yy-mm-dd"
                                [(ngModel)]="dateBegin"></p-calendar>
                    -
                    <p-calendar [showTime]="true" dateFormat="yy-mm-dd" [(ngModel)]="dateEnd"></p-calendar>
                </div>
            </div>
            <div class="row ">
                <div class="col-sm-3 col-sm-offset-9 ">
                    <button type="submit" pButton class="search-button" label="检索" (click)="search()"></button>
                    <button type="submit" pButton class="search-button" label="重置" (click)="onReset()"></button>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="col-sm-12">
            <p-dataTable [value]="cars">
                <p-column field="transformLicenseNo" header="道路运输证号"></p-column>
                <p-column field="licenseNo" header="车辆（挂车）号牌"></p-column>
                <p-column field="ownerName" header="业户名称"></p-column>
                <p-column field="frameNo" header="车架号"></p-column>
                <p-column field="carType" header="车辆类型"></p-column>
                <p-column field="carPlateColor" header="车牌颜色"></p-column>
                <p-column field="carColor" header="车身颜色"></p-column>
                <p-column field="endTime" header="资格有效期至"></p-column>
                <p-column field="" header="操作">
                    <ng-template let-item="rowData" pTemplate="body">
                        <button type="button" class="btn btn-default" (click)="showRealTimeMap(item)">实时状态</button>
                        <button type="button" class="btn btn-default" (click)="showRealTimeMonitorMap(item)">实时监控
                        </button>
                        <button type="button" class="btn btn-default" (click)="showHistoryMapp(item)">历史轨迹</button>
                    </ng-template>
                </p-column>
            </p-dataTable>
            <p-paginator rows="{{max}}" totalRecords="{{totalCars}}" (onPageChange)="paginate($event)"
                         *ngIf="totalCars>0"></p-paginator>
        </div>
    </div>
    <div class="col-sm-12">
        <p-dataTable [value]="cars">
            <p-column field="transformLicenseNo" header="道路运输证号"></p-column>
            <p-column field="licenseNo" header="车辆（挂车）号牌"></p-column>
            <p-column field="ownerName" header="业户名称"></p-column>
            <p-column field="frameNo" header="车架号"></p-column>
            <p-column field="carType" header="车辆类型"></p-column>
            <p-column field="carPlateColor" header="车牌颜色"></p-column>
            <p-column field="carColor" header="车身颜色"></p-column>
            <p-column field="endTime" header="资格有效期至"></p-column>
            <p-column field="" header="操作" styleClass=operation-buttons-3>
                <ng-template let-item="rowData" pTemplate="body">
                    <div role="button" class="fa fa-refresh fa-font-size div-distance"
                         (click)="showRealTimeMap(item)" tooltip="实时状态" placement="bottom"></div>
                    <div role="button" class="fa fa-eercast fa-font-size div-distance"
                         (click)="showRealTimeMonitorMap(item)" tooltip="实时监控" placement="bottom"></div>
                    <div role="button" class="fa fa-history fa-font-size div-distance"
                         (click)="showHistoryMapp(item)" tooltip="历史轨迹" placement="bottom"></div>
                </ng-template>
            </p-column>
        </p-dataTable>
        <p-paginator rows="{{max}}" totalRecords="{{totalCars}}" (onPageChange)="paginate($event)"
                     *ngIf="totalCars>0"></p-paginator>
    </div>
</div>
