<div class="panel panel-default" *ngIf="(pageFlag=='LIST')">
    <div class="panel-heading">
        <div class="row">
            <div class="col-sm-3">
                <div class="input-group">
                    <span class="search-span input-group-addon">车牌号：</span>
                    <input type="text" class="search-input form-control" [(ngModel)]="vehicleNo"/>
                </div>
            </div>
            <div class="col-sm-7">
                <div class="input-group">
                    <span class="search-span input-group-addon">布控开始时间：</span>
                    <div>
                        <p-calendar [showTime]="true" [(ngModel)]="dateBegin" dateFormat="yy-mm-dd"
                                    name="dateBegin"></p-calendar>
                        -
                        <p-calendar [showTime]="true" [(ngModel)]="dateEnd" dateFormat="yy-mm-dd"
                                    name="dateEnd"></p-calendar>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <button type="button" class="btn btn-primary" (click)="search()">检索</button>
                <button type="button" class="btn btn-primary" (click)="reset()">重置</button>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="top-buttons">
            <button pButton type="button" label="新增"
                    (click)="add()"></button>
        </div>
        <p-dataTable [emptyMessage]="'暂无数据'" [value]="blackLists">
            <p-column field="vehicleNo" header="车牌号"></p-column>
            <p-column field="controlOrg" header="布控单位"></p-column>
            <p-column field="executor" header="布控人"></p-column>
            <p-column field="controlBegin" header="布控开始时间"></p-column>
            <p-column field="controlEnd" header="布控结束时间"></p-column>
            <p-column field="status" header="布控状态"></p-column>
            <p-column field="" header="操作" [style]="{'width':'120px'}">
                <ng-template let-data="rowData" pTemplate="body">
                    <div role="button" class="fa fa-list fa-font-size div-distance"
                         (click)="showDetail(data.id)" tooltip="详情" placement="bottom"></div>
                    <div role="button" class="fa fa-pencil-square-o fa-font-size div-distance"
                         (click)="update(data.id)" tooltip="编辑" placement="bottom"></div>
                    <div role="button" class="fa fa-times fa-font-size div-distance"
                         (click)="delete(data.id,data.vehicleNo)" tooltip="删除" placement="bottom"></div>
                </ng-template>
            </p-column>
        </p-dataTable>
        <p-paginator rows="{{max}}" totalRecords="{{total}}" (onPageChange)="paginate($event)"></p-paginator>
    </div>
</div>
<div class="panel panel-default" *ngIf="(pageFlag=='ADD')">
    <div class="panel-heading">
        <h4>新增黑名单信息</h4>
    </div>
    <div class="panel-body no-padding">
        <div class="form-horizontal col-md-6">
            <div class="form-group">
                <label class="col-xs-4  text-right">车辆号牌：</label>
                <div class="col-xs-6 ">
                    <input type="text" class="form-control" [(ngModel)]="blackList.vehicleNo">
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-4 col-sm-4 text-right">黑名单类型：</label>
                <div class="col-xs-6 cole-sm-6 ">
                    <input class="form-control" [(ngModel)]="blackList.blackType">
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-4 col-sm-4 text-right">布控行为：</label>
                <div class="col-xs-6 cole-sm-6 ">
                    <input class="form-control" [(ngModel)]="blackList.controlBehavior">
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-4 col-sm-4 text-right">布控方案：</label>
                <div class="col-xs-6 cole-sm-6 ">
                    <input class="form-control" [(ngModel)]="blackList.scheme">
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-4 col-sm-4 text-right">布控状态：</label>
                <div class="col-xs-6 cole-sm-6 ">
                    <p-dropdown [options]="status" [(ngModel)]="blackList.status"></p-dropdown>
                </div>
            </div>
        </div>
        <div class="form-horizontal col-md-6">
            <div class="form-group">
                <label class="col-xs-4 col-sm-4 text-right">布控开始时间：</label>
                <div class="col-xs-6 cole-sm-6 ">
                    <p-calendar [showTime]="true" dateFormat="yy-mm-dd" [showIcon]="true"
                                [(ngModel)]="blackList.controlBegin"></p-calendar>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-4 col-sm-4 text-right">布控结束时间：</label>
                <div class="col-xs-6 cole-sm-6 ">
                    <p-calendar [showTime]="true" dateFormat="yy-mm-dd" [showIcon]="true"
                                [(ngModel)]="blackList.controlEnd"></p-calendar>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-4 col-sm-4 text-right">布控范围：</label>
                <div class="col-xs-6 cole-sm-6 ">
                    <input class="form-control" [(ngModel)]="blackList.controlRange">
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-4 col-sm-4 text-right">布控单位：</label>
                <div class="col-xs-6 cole-sm-6 ">
                    <input class="form-control" [(ngModel)]="blackList.controlOrg">
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-4 col-sm-4 text-right">布控人：</label>
                <div class="col-xs-6 cole-sm-6 ">
                    <input class="form-control" [(ngModel)]="blackList.executor">
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="col-md-6 col-md-offset-5">
                <button type="button" class="btn btn-primary" (click)="submitAdd()">确定</button>
                <button type="button" class="btn btn-primary" (click)="switchPage()">取消</button>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default" *ngIf="(pageFlag=='DETAIL')">
    <div class="panel-heading">
        <div class="row">
            <div class="col-sm-10 text-left">
                <h5>
                    详情
                </h5>
            </div>
            <div class="col-sm-2">
                <button pButton type="button" class="pull-right" label="返回" (click)="switchPage()"></button>
            </div>
        </div>
    </div>
    <div class="panel-body no-padding showDetails">
        <div class="col-sm-12 form-horizontal">
            <div class="row">
                <div class="form-group col-sm-4">
                    <label class="col-sm-5 control-label">车牌号：</label>
                    <div class="col-sm-7">
                        <p class="form-control-static">{{detail.vehicleNo}}</p>
                    </div>
                </div>
                <div class="form-group col-sm-4">
                    <label class="col-sm-5 control-label">车辆颜色：</label>
                    <div class="col-sm-7">
                        <p class="form-control-static">{{detail.carColor}}</p>
                    </div>
                </div>
                <div class="form-group col-sm-4">
                    <label class="col-sm-5 control-label">车牌颜色：</label>
                    <div class="col-sm-7">
                        <p class="form-control-static">{{detail.carPlateColor}}</p>
                    </div>
                </div>
                <div class="form-group col-sm-4">
                    <label class="col-sm-5 control-label">车辆类型：</label>
                    <div class="col-sm-7">
                        <p class="form-control-static">{{detail.carType}}</p>
                    </div>
                </div>
                <div class="form-group col-sm-4">
                    <label class="col-sm-5 control-label">布控单位：</label>
                    <div class="col-sm-7">
                        <p class="form-control-static">{{detail.controlOrg}}</p>
                    </div>
                </div>
                <div class="form-group col-sm-4">
                    <label class="col-sm-5 control-label">布控人：</label>
                    <div class="col-sm-7">
                        <p class="form-control-static">{{detail.executor}}</p>
                    </div>
                </div>
                <div class="form-group col-sm-4">
                    <label class="col-sm-5 control-label">黑名单类型：</label>
                    <div class="col-sm-7">
                        <p class="form-control-static">{{detail.blackType}}</p>
                    </div>
                </div>
                <div class="form-group col-sm-4">
                    <label class="col-sm-5 control-label">布控行为：</label>
                    <div class="col-sm-7">
                        <p class="form-control-static">{{detail.controlBehavior}}</p>
                    </div>
                </div>
                <div class="form-group col-sm-4">
                    <label class="col-sm-5 control-label">布控方案：</label>
                    <div class="col-sm-7">
                        <p class="form-control-static">{{detail.scheme}}</p>
                    </div>
                </div>
                <div class="form-group col-sm-4">
                    <label class="col-sm-5 control-label">布控范围：</label>
                    <div class="col-sm-7">
                        <p class="form-control-static">{{detail.controlRange}}</p>
                    </div>
                </div>
                <div class="form-group col-sm-4">
                    <label class="col-sm-5 control-label">布控开始时间：</label>
                    <div class="col-sm-7">
                        <p class="form-control-static">{{detail.controlBegin}}</p>
                    </div>
                </div>
                <div class="form-group col-sm-4">
                    <label class="col-sm-5 control-label">布控结束时间：</label>
                    <div class="col-sm-7">
                        <p class="form-control-static">{{detail.controlEnd}}</p>
                    </div>
                </div>
                <div class="form-group col-sm-4">
                    <label class="col-sm-5 control-label">布控状态：</label>
                    <div class="col-sm-7">
                        <p class="form-control-static">{{detail.status}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default" *ngIf="(pageFlag=='UPDATE')">
    <div class="panel-heading">
        <h4>修改黑名单信息</h4>
    </div>
    <div class="panel-body no-padding">
        <div class="form-horizontal col-md-6">
            <div class="form-group">
                <label class="col-xs-4  text-right">车辆号牌：</label>
                <div class="col-xs-6 ">
                    <input class="form-control" disabled [(ngModel)]="blackList.vehicleNo">
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-4 col-sm-4 text-right">黑名单类型：</label>
                <div class="col-xs-6 cole-sm-6 ">
                    <input class="form-control" [(ngModel)]="blackList.blackType">
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-4 col-sm-4 text-right">布控行为：</label>
                <div class="col-xs-6 cole-sm-6 ">
                    <input class="form-control" [(ngModel)]="blackList.controlBehavior">
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-4 col-sm-4 text-right">布控方案：</label>
                <div class="col-xs-6 cole-sm-6 ">
                    <input class="form-control" [(ngModel)]="blackList.scheme">
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-4 col-sm-4 text-right">布控状态：</label>
                <div class="col-xs-6 cole-sm-6 ">
                    <p-dropdown [options]="status" [(ngModel)]="blackList.status"></p-dropdown>
                </div>
            </div>
        </div>
        <div class="form-horizontal col-md-6">
            <div class="form-group">
                <label class="col-xs-4 col-sm-4 text-right">布控开始时间：</label>
                <div class="col-xs-6 cole-sm-6 ">
                    <p-calendar [showTime]="true" dateFormat="yy-mm-dd" [showIcon]="true"
                                [(ngModel)]="blackList.controlBegin"></p-calendar>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-4 col-sm-4 text-right">布控结束时间：</label>
                <div class="col-xs-6 cole-sm-6 ">
                    <p-calendar [showTime]="true" dateFormat="yy-mm-dd" [showIcon]="true"
                                [(ngModel)]="blackList.controlEnd"></p-calendar>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-4 col-sm-4 text-right">布控范围：</label>
                <div class="col-xs-6 cole-sm-6 ">
                    <input class="form-control" [(ngModel)]="blackList.controlRange">
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-4 col-sm-4 text-right">布控单位：</label>
                <div class="col-xs-6 cole-sm-6 ">
                    <input class="form-control" [(ngModel)]="blackList.controlOrg">
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-4 col-sm-4 text-right">布控人：</label>
                <div class="col-xs-6 cole-sm-6 ">
                    <input class="form-control" [(ngModel)]="blackList.executor">
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="col-md-6 col-md-offset-5">
                <button type="button" class="btn btn-primary" (click)="submitUpdate(blackList.id)">确定</button>
                <button type="button" class="btn btn-primary" (click)="switchPage()">取消</button>
            </div>
        </div>
    </div>
</div>
