<div class="panel panel-default" *ngIf="isDetails==false && edit==false">
    <div class="querys">
        <div class="row form-horizontal">
            <div class="col-sm-5">
                <div class="form-group">
                    <label class="col-sm-4 control-label">状态：</label>
                    <div class="col-sm-8">
                        <p-dropdown [options]="statusList" [(ngModel)]="listStatus" placeholder="请选择状态" styleClass=p-dropdown-form-control></p-dropdown>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="form-group">
                    <label class="col-sm-4 control-label">上报时间：</label>
                    <div class="col-sm-8 calendar-group">
                        <div class="cgl">
                            <p-calendar [(ngModel)]="startDate" name="startDate" dateFormat="yy-mm-dd" [maxDate]="maxDate" [showTime]="true" [readonlyInput]="true"
                                [showIcon]="true" [locale]="zh" styleClass=calendar-span inputStyleClass=calendar></p-calendar>
                        </div>
                        <div class="cgm">-</div>
                        <div class="cgr">
                            <p-calendar [(ngModel)]="endDate" name="endDate" dateFormat="yy-mm-dd" [maxDate]="maxDate" [showTime]="true" [readonlyInput]="true"
                                [locale]="zh" styleClass=calendar-span inputStyleClass=calendar [showIcon]="true"></p-calendar>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="col-sm-5">
                <div class="form-group">
                    <label class="col-sm-4 control-label">业户名称：</label>
                    <div class="col-sm-8">
                        <input class="form-control" [(ngModel)]="company" name="company" placeholder="请输入业户名称..." />
                    </div>
                </div>
            </div> -->

            <div class="col-sm-2">
                <button type="button" class="btn btn-primary" (click)="initData()">检索</button>
                <button type="button" class="btn btn-primary" (click)="cancel()">重置</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class='basic-bottom'>
                <p-dataTable [value]="hiddenRectificationOrderList" [emptyMessage]="'暂无数据'">
                    <p-column field="billNo" header="单据编号"></p-column>
                    <p-column field="enterpirse" header="业户名称"></p-column>
                    <p-column field="examiner" header="检查人"></p-column>
                    <p-column field="inspectionDate" header="检查日期"></p-column>
                    <p-column field="dealineDate" header="整改期限"></p-column>
                    <p-column field="status" header="状态"></p-column>
                    <p-column field="" header="操作" styleClass=operation-buttons-2>
                        <ng-template let-hiddenRectificationOrder="rowData" pTemplate="body">
                            <div role="button" class="fa fa-file-text-o fa-font-size div-distance" (click)="onEdit(hiddenRectificationOrder)" tooltip="反馈"
                                placement="bottom" *ngIf="hiddenRectificationOrder.status=='待反馈'"></div>
                            <div role="button" class="fa fa-list fa-font-size div-distance" (click)="preEdit(hiddenRectificationOrder.id)" tooltip="详情"
                                placement="bottom"></div>
                        </ng-template>
                    </p-column>
                </p-dataTable>
                <p-paginator rows="{{max}}" totalRecords="{{total}}" (onPageChange)="paginate($event)"></p-paginator>
            </div>
        </div>
    </div>
</div>
<div *ngIf="edit">
    <div class="panel panel-default panel-show">
        <div class="panel-heading">
            {{hiddenRectificationOrderTitle}}
        </div>
        <div class="panel-body no-padding showDetails">
            <div class="col-sm-12 form-horizontal ">
                <div class="row">
                    <div class="form-group col-sm-4">
                        <label class="col-sm-5 control-label">业户名称：</label>
                        <div class="col-sm-7">
                            <p class="form-control-static">{{hiddenRectificationOrder.enterpirse}}</p>
                        </div>
                    </div>
                    <div class="form-group col-sm-4">
                        <label class="col-sm-5 control-label">区域：</label>
                        <div class="col-sm-7">
                            <p class="form-control-static">{{hiddenRectificationOrder.area || '无'}}</p>
                        </div>
                    </div>
                    <div class="form-group col-sm-4">
                        <label class="col-sm-5 control-label">检查日期：</label>
                        <div class="col-sm-7">
                            <p class="form-control-static">{{inspection | date: "yyyy-MM-dd HH:mm"}}</p>
                        </div>
                    </div>
                    <div class="form-group col-sm-4">
                        <label class="col-sm-5 control-label">检查人：</label>
                        <div class="col-sm-7">
                            <p class="form-control-static">{{hiddenRectificationOrder.examiner}}</p>
                        </div>
                    </div>
                    <div class="form-group col-sm-4">
                        <label class="col-sm-5 control-label">整改期限：</label>
                        <div class="col-sm-7">
                            <p class="form-control-static">{{dealine | date: "yyyy-MM-dd HH:mm"}}</p>
                        </div>
                    </div>
                    <div class="form-group col-sm-4">
                        <label class="col-sm-5 control-label ">状态：</label>
                        <div class="col-sm-7">
                            <p class="form-control-static">{{hiddenRectificationOrder.status}}</p>
                        </div>
                    </div>
                    <div class="form-group col-sm-4">
                        <label class="col-sm-5 control-label">检查地点：</label>
                        <div class="col-sm-7">
                            <p class="form-control-static">{{hiddenRectificationOrder.insPosition}}</p>
                        </div>
                    </div>
                    <div class="form-group col-sm-4">
                        <label class="col-sm-5 control-label">检查内容：</label>
                        <div class="col-sm-7">
                            <p class="form-control-static">{{hiddenRectificationOrder.insDesc}}</p>
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <label class="col-sm-2 control-label" style="width: 13.7%">存在问题：</label>
                        <div class="col-sm-10">
                            <p class="form-control-static">{{hiddenRectificationOrder.insQuestion}}</p>
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <label class="col-sm-2 control-label" style="width: 13.7%">整改意见：</label>
                        <div class="col-sm-10">
                            <p class="form-control-static">{{hiddenRectificationOrder.proPosal}}</p>
                        </div>
                    </div>
                    <hr class="col-sm-12">
                    <div class="form-group col-sm-12">
                        <label class="col-sm-2 control-label" style="width: 13.7%">反馈日期：</label>
                        <div class="col-sm-10"><span>{{reply | date: 'yyyy-MM-dd HH:mm'}}</span></div>
                    </div>
                    <div class="form-group col-sm-12">
                        <label class="col-sm-2 control-label" style="width: 13.7%">反馈内容：</label>
                        <div class="col-sm-10">
                            <textarea class="form-control fix" id="hiddenRectificationOrder.replyDesc" name="hiddenRectificationOrder.replyDesc" [(ngModel)]="hiddenRectificationOrder.replyDesc"
                                maxlength="1500"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-md-6 col-md-offset-5">
                    <button type="button" class="btn btn-primary" (click)="onSaveNew()">反馈</button>
                    <button type="button" class="btn btn-primary" (click)="return()">返回</button>
                </div>
            </div>
        </div>
    </div>
</div>
<p-dialog header="提示" [(visible)]="displayDialog" modal="modal" height="200" width="300" [responsive]="true">
    <P>是否提交反馈信息？请选择！</P>
    <p-footer>
        <button type="button" pButton icon="fa-check" (click)="feedback()" label="是"></button>
        <button type="button" pButton icon="fa-close" (click)="onCancel()" label="否"></button>
    </p-footer>
</p-dialog>

<div *ngIf="isDetails">
    <div class="panel panel-default panel-show">
        <div class="panel-heading">
            {{hiddenRectificationOrderTitle}}
            <button type="button" class="btn back-btn btn-primary" (click)="return()">返回</button>
        </div>
        <div class="panel-body no-padding showDetails">
            <div class="col-sm-12 form-horizontal ">
                <div class="row">
                    <div class="form-group col-sm-4">
                        <label class="col-sm-5 control-label">业户名称：</label>
                        <div class="col-sm-7">
                            <p class="form-control-static">{{hiddenRectificationOrder.enterpirse}}</p>
                        </div>
                    </div>
                    <div class="form-group col-sm-4">
                        <label class="col-sm-5 control-label">区域：</label>
                        <div class="col-sm-7">
                            <p class="form-control-static">{{hiddenRectificationOrder.area || '无'}}</p>
                        </div>
                    </div>
                    <div class="form-group col-sm-4">
                        <label class="col-sm-5 control-label">检查日期：</label>
                        <div class="col-sm-7">
                            <p class="form-control-static">{{inspection | date: "yyyy-MM-dd HH:mm"}}</p>
                        </div>
                    </div>
                    <div class="form-group col-sm-4">
                        <label class="col-sm-5 control-label">检查人：</label>
                        <div class="col-sm-7">
                            <p class="form-control-static">{{hiddenRectificationOrder.examiner}}</p>
                        </div>
                    </div>
                    <div class="form-group col-sm-4">
                        <label class="col-sm-5 control-label">整改期限：</label>
                        <div class="col-sm-7">
                            <p class="form-control-static">{{dealine | date: "yyyy-MM-dd HH:mm"}}</p>
                        </div>
                    </div>
                    <div class="form-group col-sm-4">
                        <label class="col-sm-5 control-label ">状态：</label>
                        <div class="col-sm-7">
                            <p class="form-control-static">{{hiddenRectificationOrder.status}}</p>
                        </div>
                    </div>
                    <div class="form-group col-sm-4">
                        <label class="col-sm-5 control-label">检查地点：</label>
                        <div class="col-sm-7">
                            <p class="form-control-static">{{hiddenRectificationOrder.insPosition}}</p>
                        </div>
                    </div>
                    <div class="form-group col-sm-4">
                        <label class="col-sm-5 control-label">检查内容：</label>
                        <div class="col-sm-7">
                            <p class="form-control-static">{{hiddenRectificationOrder.insDesc}}</p>
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <label class="col-sm-2 control-label" style="width: 13.7%">存在问题：</label>
                        <div class="col-sm-10">
                            <p class="form-control-static">{{hiddenRectificationOrder.insQuestion}}</p>
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <label class="col-sm-2 control-label" style="width: 13.7%">整改意见：</label>
                        <div class="col-sm-10">
                            <p class="form-control-static">{{hiddenRectificationOrder.proPosal}}</p>
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <label class="col-sm-2 control-label" style="width: 13.7%">企业反馈：</label>
                        <div class="col-sm-10">
                            <p class="form-control-static">{{hiddenRectificationOrder.replyDesc || '无'}}</p>
                        </div>
                    </div>
                    <div class="form-group col-sm-4">
                        <label class="col-sm-5 control-label">反馈日期：</label>
                        <div class="col-sm-7">
                            <p class="form-control-static">{{hiddenRectificationOrder.replyDate || '无'}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
