<div class="panel panel-default" *ngIf="isDetails==false && edit==false">
    <div class="panel-heading">
        <div class="row">
            <div isCompanyUser class="col-sm-3">
                <div class="input-group">
                    <span class="search-span input-group-addon">业户名称：</span>
                    <input type="text" class="search-input form-control" [(ngModel)]="company" name="company"
                           placeholder="请输入业户名称..."/>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="input-group">
                    <span class="search-span input-group-addon">上报时间：</span>
                    <div>
                        <p-calendar [(ngModel)]="startDate" name="startDate" dateFormat="yy-mm-dd" [maxDate]="maxDate"
                                    [showTime]="true" [readonlyInput]="true"></p-calendar>
                        -
                        <p-calendar [(ngModel)]="endDate" name="endDate" dateFormat="yy-mm-dd" [maxDate]="maxDate"
                                    [showTime]="true" [readonlyInput]="true"></p-calendar>
                    </div>
                </div>
            </div>
            <div class="col-sm-3" style="margin-left: -25px">
                <div class="input-group">
                    <span class="search-span input-group-addon">状态：</span>
                    <p-dropdown [options]="statusList" [(ngModel)]="listStatus" placeholder="请选择状态"
                                [style]="{'width':'100%'}"></p-dropdown>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 col-sm-offset-9">
                <button pButton label="检索" class="search-button" type="button" (click)="initData()"></button>
                <button pButton label="重置" class="search-button" type="button" (click)="cancel()"></button>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <p-dataTable [value]="hiddenRectificationOrderList" [emptyMessage]="'暂无数据'">
                    <p-column field="billNo" header="单据编号"></p-column>
                    <p-column field="enterpirse" header="业户名称"></p-column>
                    <p-column field="examiner" header="检查人"></p-column>
                    <p-column field="inspectionDate" header="检查日期"></p-column>
                    <p-column field="dealineDate" header="整改期限"></p-column>
                    <p-column field="status" header="状态"></p-column>
                    <p-column field="" header="操作" styleClass=operation-buttons-2>
                        <ng-template let-hiddenRectificationOrder="rowData" pTemplate="body">
                            <div role="button" class="fa fa-file-text-o fa-font-size div-distance"
                                 (click)="onEdit(hiddenRectificationOrder)"  tooltip="反馈" placement="bottom"
                                 *ngIf="hiddenRectificationOrder.status=='待反馈'"></div>
                            <div role="button" class="fa fa-list fa-font-size div-distance"
                                 (click)="preEdit(hiddenRectificationOrder.id)" tooltip="详情" placement="bottom"></div>
                        </ng-template>
                    </p-column>
                </p-dataTable>
                <p-paginator rows="{{max}}" totalRecords="{{total}}"
                             (onPageChange)="paginate($event)"></p-paginator>
            </div>
        </div>
    </div>
</div>
<div *ngIf="edit">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4><span>{{hiddenRectificationOrderTitle}}</span></h4>
        </div>
        <div class="panel-body">
            <form class="form-horizontal">

                <div class="form-group">
                    <label class="col-sm-1" right>业户名称:</label>
                    <div class="col-sm-4">
                        <span>{{hiddenRectificationOrder.enterpirse}}</span>
                    </div>
                    <label class="col-sm-1" right>区域：</label>
                    <div class="col-sm-4">
                        <span>{{hiddenRectificationOrder.area || '无'}}</span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-1" right>检查日期：</label>
                    <div class="col-sm-4">
                        <span>{{inspection | date: "yyyy-MM-dd HH:mm"}}</span>
                    </div>
                    <label class="col-sm-1" right>检查人：</label>
                    <div class="col-sm-4">
                        <span>{{hiddenRectificationOrder.examiner}}</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1" right>整改期限：</label>
                    <div class="col-sm-4">
                        <span>{{dealine | date: "yyyy-MM-dd HH:mm"}}</span>
                    </div>
                    <label class="col-sm-1" right>状态：</label>
                    <div class="col-sm-4">
                        <span>{{hiddenRectificationOrder.status}}</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1" right>检查地点：</label>
                    <div class="col-sm-8">
                        <span>{{hiddenRectificationOrder.insPosition}}</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1" right>检查内容：</label>
                    <div class="col-sm-8">
                        <span>{{hiddenRectificationOrder.insDesc}}</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1" right>存在问题：</label>
                    <div class="col-sm-8">
                        <span>{{hiddenRectificationOrder.insQuestion}}</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1" right>整改意见：</label>
                    <div class="col-sm-8">
                        <span>{{hiddenRectificationOrder.proPosal}}</span>
                    </div>
                </div>
                <hr>
                <div class="form-group">
                    <label class="col-sm-1" right>反馈日期：</label>
                    <span>{{reply | date: 'yyyy-MM-dd HH:mm'}}</span>
                </div>
                <div class="form-group">
                    <label class="col-sm-1" right>反馈内容：</label>
                    <textarea class="form-control fix" id="hiddenRectificationOrder.replyDesc"
                              name="hiddenRectificationOrder.replyDesc"
                              [(ngModel)]="hiddenRectificationOrder.replyDesc"
                              maxlength="1500"></textarea>
                </div>
                <div class="form-group">
                    <div class="col-md-2">
                        <button pButton type="button" label="反馈" (click)="onSaveNew()"></button>
                        <button pButton type="button" label="返回" (click)="return()"></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<p-dialog header="提示" [(visible)]="displayDialog" modal="modal" height="200" width="300" [responsive]="true">
    <P>是否提交反馈信息？请选择！</P>
    <p-footer>
        <button type="button" pButton icon="fa-check" (click)="feedback()" label="是"></button>
        <button type="button" pButton icon="fa-close" (click)="onCancel()" label="否"></button>
    </p-footer>
</p-dialog>

<div *ngIf="isDetails">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4><span>{{hiddenRectificationOrderTitle}}</span></h4>
        </div>
        <div class="panel-body">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-1" right>业户名称:</label>
                    <div class="col-sm-4">
                        <span>{{hiddenRectificationOrder.enterpirse}}</span>
                    </div>
                    <label class="col-sm-1" right>区域：</label>
                    <div class="col-sm-4">
                        <span>{{hiddenRectificationOrder.area || '无'}}</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1" right>检查日期：</label>
                    <div class="col-sm-4">
                        <span>{{inspection | date: "yyyy-MM-dd HH:mm"}}</span>
                    </div>
                    <label class="col-sm-1" right>检查人：</label>
                    <div class="col-sm-4">
                        <span>{{hiddenRectificationOrder.examiner}}</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1" right>整改期限：</label>
                    <div class="col-sm-4">
                        <span>{{dealine | date: "yyyy-MM-dd HH:mm"}}</span>
                    </div>
                    <label class="col-sm-1" right>状态：</label>
                    <div class="col-sm-4">
                        <span>{{hiddenRectificationOrder.status}}</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1" right>检查地点：</label>
                    <div class="col-sm-8">
                        <span>{{hiddenRectificationOrder.insPosition}}</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1" right>检查内容：</label>
                    <div class="col-sm-8">
                        <span>{{hiddenRectificationOrder.insDesc}}</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1" right>存在问题：</label>
                    <div class="col-sm-8">
                        <span>{{hiddenRectificationOrder.insQuestion}}</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1" right>整改意见：</label>
                    <div class="col-sm-8">
                        <span>{{hiddenRectificationOrder.proPosal}}</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1" right>企业反馈：</label>
                    <div class="col-sm-8">
                        <span>{{hiddenRectificationOrder.replyDesc || '无'}}</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1" right>反馈日期：</label>
                    <div class="col-sm-8">
                        <span>{{hiddenRectificationOrder.replyDate || '无'}}</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2">
                        <button pButton class="return" label="返回" type="button" (click)="return()"></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

