<div *ngIf="pageFlag=='LIST'">
    <div class="top-buttons">
        <button pButton type="button" label="新增" (click)="onCreate()"></button>
    </div>
    <div class='basic-bottom'>
        <p-dataTable [emptyMessage]="'暂无数据'" [value]="freightStationList" [lazy]="true" [rows]="pageMax" [totalRecords]="pageTotal" [paginator]="true" (onLazyLoad)="paginate($event)" [(first)]="pageFirst">
            <p-column field="orgCode" header="组织机构代码"></p-column>
            <p-column field="name" header="货运站名称"></p-column>
            <p-column field="sn" header="货运站编号"></p-column>
            <p-column field="manageStatus" header="经营状态"></p-column>
            <p-column field="approvalNumber" header="批准文号"></p-column>
            <p-column field="districtName" header="行政区划名称"></p-column>
            <p-column field="districtCode" header="行政区划代码"></p-column>
            <p-column field="level" header="货运站级别"></p-column>
            <p-column field="address" header="货运站地址"></p-column>
            <p-column field="" header="操作" styleClass=operation-buttons-3>
                <ng-template let-freightStation="rowData" pTemplate="body">
                    <div role="button" class="fa fa-list fa-font-size div-distance" (click)="showDetail(freightStation.id)" tooltip="详情" placement="bottom"></div>
                    <div role="button" class="fa fa-pencil-square-o fa-font-size div-distance" (click)="onEdit(freightStation.id)" tooltip="编辑" placement="bottom"></div>
                    <div role="button" class="fa fa-times fa-font-size div-distance" (click)="onDelete(freightStation)" tooltip="删除" placement="bottom"></div>
                </ng-template>
            </p-column>
        </p-dataTable>
    </div>
</div>
<div class="panel panel-default" *ngIf="pageFlag=='ADD' || pageFlag=='EDIT'">
    <div class="panel-heading">
        {{title}}
    </div>
    <div class="panel-body no-padding form-horizontal">
        <div class=" col-md-6">
            <div class="form-group">
                <label class="col-xs-4 control-label text-right"><span class="required">*</span>货运站名称：</label>
                <div class="col-xs-6 ">
                    <input type="text" class="form-control" [(ngModel)]="freightStation.name">
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="col-xs-4 control-label text-right"><span class="required">*</span>批准文号：</label>
                <div class="col-xs-6 ">
                    <input type="text" class="form-control" [(ngModel)]="freightStation.approvalNumber">
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="col-xs-4 control-label text-right"><span class="required">*</span>货运站编号：</label>
                <div class="col-xs-6 ">
                    <input type="text" class="form-control" [(ngModel)]="freightStation.sn">
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class=" col-sm-4 control-label text-right"><span class="required">*</span>详细地址：</label>
                <div class=" col-sm-6 ">
                    <input type="text" class="form-control" [(ngModel)]="freightStation.address">
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="col-xs-4 control-label text-right"><span class="required">*</span>行政区划名称：</label>
                <div class="col-xs-6 ">
                    <app-wu-city-select [selected]="freightStation.districtName" (result)="selectCity($event)"></app-wu-city-select>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class=" col-sm-4 controsl-label text-right"><span class="required">*</span>经营状态：</label>
                <div class="col-sm-4">
                    <p-dropdown [options]="manageStatus" [(ngModel)]="manageStatusId" placeholder="请选择" [style]="{'width':'100%'}" styleClass=p-dropdown-form-control></p-dropdown>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="col-xs-4 control-label text-right"><span class="required">*</span>建站日期：</label>
                <div class="col-xs-4">
                    <p-calendar [(ngModel)]="buildDate" [showIcon]="true" [showTime]="true" dateFormat="yy-mm-dd" styleClass=calendar-span inputStyleClass=calendar [locale]="zh"></p-calendar>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="col-xs-4 control-label text-right"><span class="required">*</span>竣工日期：</label>
                <div class="col-xs-4">
                    <p-calendar [(ngModel)]="completedDate" [showIcon]="true" [showTime]="true" dateFormat="yy-mm-dd" styleClass=calendar-span inputStyleClass=calendar [locale]="zh"></p-calendar>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="col-xs-4 control-label text-right"><span class="required">*</span>验收日期：</label>
                <div class="col-xs-4">
                    <p-calendar [(ngModel)]="checkDate" [showIcon]="true" [showTime]="true" dateFormat="yy-mm-dd" styleClass=calendar-span inputStyleClass=calendar [locale]="zh"></p-calendar>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="col-xs-4 control-label text-right"><span class="required">*</span>投入营运日期：</label>
                <div class="col-xs-4">
                    <p-calendar [(ngModel)]="operateDate" [showIcon]="true" [showTime]="true" dateFormat="yy-mm-dd" styleClass=calendar-span inputStyleClass=calendar [locale]="zh"></p-calendar>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class=" col-sm-4 controsl-label text-right"><span class="required">*</span>货运站级别：</label>
                <div class="col-sm-4">
                    <p-dropdown [options]="freightStationLevels" [(ngModel)]="levelId" placeholder="请选择" [style]="{'width':'100%'}" styleClass=p-dropdown-form-control></p-dropdown>
                </div>
            </div>
        </div>
        <div class=" col-md-6">
            <div class="form-group">
                <label class="col-xs-4 control-label text-right"><span class="required">*</span>投资规模 (万元)：</label>
                <div class="col-xs-6 ">
                    <input type="text" class="form-control" [(ngModel)]="freightStation.scale">
                </div>
            </div>
        </div>
        <div class=" col-md-6">
            <div class="form-group">
                <label class="col-xs-4 control-label text-right"><span class="required">*</span>占地面积(㎡)：</label>
                <div class="col-xs-6 ">
                    <input type="text" class="form-control" [(ngModel)]="freightStation.coverArea">
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="col-xs-4 control-label text-right"><span class="required">*</span>建筑面积(㎡)：</label>
                <div class="col-xs-6 ">
                    <input type="text" class="form-control" [(ngModel)]="freightStation.buildArea">
                </div>
            </div>
        </div>
        <div class=" col-md-6">
            <div class="form-group">
                <label class="col-xs-4 control-label text-right"><span class="required">*</span>货运站高度(m)：</label>
                <div class="col-xs-6 ">
                    <input type="text" class="form-control" [(ngModel)]="freightStation.height">
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group" *ngIf="pageFlag=='ADD'">
                <label class=" col-sm-4 control-label text-right"><span class="required">*</span>正面照片：</label>
                <div class=" col-sm-6 ">
                    <a href="javascript:;" class="file">上传照片
                        <input type="file" id="frontPhotoadd" name="frontPhotoadd" (change)="frontPhotoChangeEvent($event)" accept="image/gif,image/jpeg,image/jpg,image/png">
                    </a>
                    <img [src]="imgList[0]?.frontPhoto" *ngIf="imgList.length>0">
                    {{frontPhotoName}}
                </div>
            </div>
            <div class="form-group" *ngIf="pageFlag=='EDIT'">
                <label class=" col-sm-4 control-label text-right"><span class="required">*</span>正面照片：</label>
                <div class=" col-sm-6 ">
                    {{frontPhotoName}}
                    <a href="javascript:;" class="file">重新上传照片
                        <input type="file" id="frontPhotoedit" name="frontPhotoedit" (change)="frontPhotoChangeEvent($event)" accept="image/gif,image/jpeg,image/jpg,image/png">
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class=" col-sm-4 controsl-label text-right"><span class="required">*</span>经营范围：</label>
                <div class="col-sm-4">
                    <p-listbox [options]="dangerousTypes" [(ngModel)]="manageRangeId" multiple="multiple" checkbox="checkbox" filter="filter" [style]="{'width':'230px','max-height':'150px'}"></p-listbox>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group" *ngIf="pageFlag=='ADD'">
                <label class=" col-sm-4 control-label text-right"><span class="required">*</span>侧面照片：</label>
                <div class=" col-sm-6 ">
                    {{sidePhotoName}}
                    <a href="javascript:;" class="file">上传照片
                        <input type="file" id="sidePhotoadd" name="sidePhotoadd" (change)="sidePhotoChangeEvent($event)" accept="image/gif,image/jpeg,image/jpg,image/png">
                    </a>
                </div>
            </div>
            <div class="form-group" *ngIf="pageFlag=='EDIT'">
                <label class=" col-sm-4 control-label text-right"><span class="required">*</span>侧面照片：</label>
                <div class=" col-sm-6 ">
                    {{sidePhotoName}}
                    <a href="javascript:;" class="file">重新上传照片
                        <input type="file" id="sidePhotoedit" name="sidePhotoedit" (change)="sidePhotoChangeEvent($event)" accept="image/gif,image/jpeg,image/jpg,image/png">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="col-md-6 col-md-offset-5">
                <button type="button" class="btn btn-primary" (click)="pageFlag=='ADD'?onSubmit():onUpdate()">确定</button>
                <button type="button" class="btn btn-primary" (click)="onCancel()">取消</button>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default panel-show" *ngIf="pageFlag=='DETAIL'">
    <div class="panel-heading">
        详情
        <button type="button" class="btn back-btn btn-primary" (click)="onBack()">返回</button>
    </div>
    <div class="panel-body no-padding showDetails">
        <div class="col-sm-12 form-horizontal">
            <div class="row">
                <div class="form-group col-sm-4">
                    <label class="col-sm-5 control-label">组织机构代码：</label>
                    <div class="col-sm-7">
                        <p class="form-control-static">{{freightStation.orgCode}}</p>
                    </div>
                </div>
                <div class="form-group col-sm-4">
                    <label class="col-sm-5 control-label">货运站名称：</label>
                    <div class="col-sm-7">
                        <p class="form-control-static">{{freightStation.name}}</p>
                    </div>
                </div>
                <div class="form-group col-sm-4">
                    <label class="col-sm-5 control-label">货运站编号：</label>
                    <div class="col-sm-7">
                        <p class="form-control-static">{{freightStation.sn}}</p>
                    </div>
                </div>
                <div class="form-group col-sm-4">
                    <label class="col-sm-5 control-label">行政区划名称：</label>
                    <div class="col-sm-7">
                        <p class="form-control-static">{{freightStation.districtName}}</p>
                    </div>
                </div>
                <div class="form-group col-sm-4">
                    <label class="col-sm-5 control-label">货运站级别：</label>
                    <div class="col-sm-7">
                        <p class="form-control-static">{{freightStation.levelName}}</p>
                    </div>
                </div>
                <div class="form-group col-sm-4">
                    <label class="col-sm-5 control-label">经营状态：</label>
                    <div class="col-sm-7">
                        <p class="form-control-static">{{freightStation.manageStatusName}}</p>
                    </div>
                </div>
                <div class="form-group col-sm-4">
                    <label class="col-sm-5 control-label">行政区划代码：</label>
                    <div class="col-sm-7">
                        <p class="form-control-static">{{freightStation.districtCode}}</p>
                    </div>
                </div>
                <div class="form-group col-sm-4">
                    <label class="col-sm-5 control-label">建站日期：</label>
                    <div class="col-sm-7">
                        <p class="form-control-static">{{freightStation.buildDate}}</p>
                    </div>
                </div>
                <div class="form-group col-sm-4">
                    <label class="col-sm-5 control-label">竣工日期：</label>
                    <div class="col-sm-7">
                        <p class="form-control-static">{{freightStation.completedDate}}</p>
                    </div>
                </div>
                <div class="form-group col-sm-4">
                    <label class="col-sm-5 control-label">批准文号：</label>
                    <div class="col-sm-7">
                        <p class="form-control-static">{{freightStation.approvalNumber}}</p>
                    </div>
                </div>
                <div class="form-group col-sm-4">
                    <label class="col-sm-5 control-label">验收日期：</label>
                    <div class="col-sm-7">
                        <p class="form-control-static">{{freightStation.checkDate}}</p>
                    </div>
                </div>
                <div class="form-group col-sm-4">
                    <label class="col-sm-5 control-label">投入营运日期：</label>
                    <div class="col-sm-7">
                        <p class="form-control-static">{{freightStation.operateDate}}</p>
                    </div>
                </div>
                <div class="form-group col-sm-4">
                    <label class="col-sm-5 control-label">投资规模 (万元)：</label>
                    <div class="col-sm-7">
                        <p class="form-control-static">{{freightStation.scale}}</p>
                    </div>
                </div>
                <div class="form-group col-sm-4">
                    <label class="col-sm-5 control-label">占地面积(㎡)：</label>
                    <div class="col-sm-7">
                        <p class="form-control-static">{{freightStation.coverArea}}</p>
                    </div>
                </div>
                <div class="form-group col-sm-4">
                    <label class="col-sm-5 control-label">建筑面积(㎡)：</label>
                    <div class="col-sm-7">
                        <p class="form-control-static">{{freightStation.buildArea}}</p>
                    </div>
                </div>
                <div class="form-group col-sm-4">
                    <label class="col-sm-5 control-label">货运站高度(m)：</label>
                    <div class="col-sm-7">
                        <p class="form-control-static">{{freightStation.height}}</p>
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    <label class="col-sm-2 control-label" style="width: 13.7%">经营范围：</label>
                    <div class="col-sm-10">
                        <p class="form-control-static">{{freightStation.manageRangeList}}</p>
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    <label class="col-sm-2 control-label" style="width: 13.7%">详细地址：</label>
                    <div class="col-sm-10">
                        <p class="form-control-static">{{freightStation.address}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


