<div class="panel panel-default">
    <div class="panel-heading">
        修改密码
    </div>
    <div class="panel-body no-padding">
        <div class="form-horizontal col-md-12">
            <div class="form-group">
                <label for="originPwd" class="col-sm-2 control-label">旧密码：</label>
                <div class="col-sm-5">
                    <input type="password" class="form-control" id="originPwd" name="originPwd" [(ngModel)]="originPwd" placeholder="旧密码">
                </div>
            </div>
        </div>

        <div class="form-horizontal col-md-12">
            <div class="form-group">
                <label for="newPwd" class="col-sm-2 control-label">新密码：</label>
                <div class="col-sm-5">
                    <input type="password" class="form-control" id="newPwd" name="newPwd" [(ngModel)]="newPwd" placeholder="新密码">
                </div>
            </div>
        </div>
        <div class="form-horizontal col-md-12">
            <div class="form-group">
                <label for="affirmPwd" class="col-sm-2 control-label">确认密码：</label>
                <div class="col-sm-5">
                    <input type="password" class="form-control" id="affirmPwd" name="affirmPwd" [(ngModel)]="affirmPwd" placeholder="确认密码">
                </div>
            </div>
        </div>
        <div class="form-horizontal col-md-12">
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-5">
                    <button type="submit" class="btn btn-primary" (click)="onSubmit()">确定</button>
                </div>
            </div>
        </div>
    </div>
</div>
