
.login-body {
    background: url("../../../assets/images/login-background.png") top left no-repeat #f7f7f7;
    border: 1px solid white;
    background-size: 100% 100%;
    height: 100%;
    text-align: center;
}

.login-title {
    margin-top: 7%;
}

.login-form {
    margin: 80px auto 0 auto;
    background: url("../../../assets/images/login-form.png");
    width: 610px;
    height: 405px;
    background-size: 100% 100%;
}

.login-username {
    margin: 106px 0 0 172px;
    width: 290px;
    height: 39px;
    border: 0px;
    border-left: 1px solid #D4D4D4;
    padding-left: 7px;
    background: #FAFAFA;
    line-height: 100%;
    font-size: 15px;
}

.login-password {
    margin: 25px 0 0 172px;
    border: 0px;
    border-left: 1px solid #D4D4D4;
    width: 290px;
    height: 39px;
    background: #FAFAFA;
    padding-left: 7px;
    line-height: 100%;
    font-size: 15px;
}
.login-submit {
    position: relative;
    top: 19px;
    left: 435px;
    display: block;
    width: 103px;
    height: 35px;
}
.login-error {
    position: relative;
    color: yellow;
}
.login-username:focus, .login-password:focus {
    background: white;
}
.login-username:hover, .login-password:hover {
    border-color: rgba(150,150,150,1);
}
.login-submit:hover {
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1), 0 4px 8px 0 rgba(0,0,0,0.2);
}


.login-panel {
    background-color: #d0feff;
    text-align: center;
    vertical-align: middle;
    width: 350px;
    min-height: 280px;
    padding: 10px 20px;
    margin: 100px auto 0 auto;
    display: none;
}

.login-panel .ui-g .ui-g-12 {
    padding: 25px 20px;
}

.login-panel .ui-g .ui-g-12 .ui-button {
    margin-bottom: 20px;
}

.login-panel .ui-button:hover {
    background-color: #9F51B5
}

.login-panel .ui-button:focus {
    outline: 0 none;
    background-color: #606fc7;
}

.login-panel .ui-button.secondary:hover {
    background-color: #ad1457;
}

.login-panel .ui-button.secondary:focus {
    outline: 0 none;
    background-color: #ee4c83;
}

.login-panel .ui-inputtext:focus {
    border-width: 0 0 2px 0;
    border-color: #3F51B5;
    padding-bottom: 0px;
}

.login-footer {
    position: absolute;
    bottom: 10px;
    font-size: 16px;
    width: 100%;
    text-align: center;
    color: #757575;
}
