<div class="panel panel-default"  *ngIf="actionStr=='list'">

  <div class="panel-body">
    <div class="row">
      <div class="col-md-3">
      <p-tree [value]="infoCategories" selectionMode="single" [(selection)]="selectedType"
              (onNodeSelect)="onSelect()" (onNodeUnselect)="nodeUnselect($event)"></p-tree>
      <div style="margin-top:8px">已选择:{{selectedType ? selectedType.label : 'none'}}</div>
      </div>

      <div class="col-md-9">
        <p-dataTable  [value]="publishList" [emptyMessage]="'暂无数据'" >
          <p-column field="title" header="标题"></p-column>
          <p-column field="dateCreated" header="起草时间"></p-column>
          <p-column field="username" header="用户"></p-column>
          <p-column field="status" header="状态"></p-column>
          <p-column field="" header="操作" styleClass=operation-buttons-1>
            <ng-template  pTemplate="body" let-infoItem="rowData">
                <div role="button" class="fa fa-list fa-font-size div-distance"
                     (click)="onDisplay(infoItem)"  tooltip="详情" placement="bottom"></div>
            </ng-template>
          </p-column>
        </p-dataTable>

        <p-paginator rows="{{max}}" totalRecords="{{total}}" (onPageChange)="paginate($event)"></p-paginator>

      </div>
    </div>
  </div>
</div>


<div *ngIf="actionStr == 'details'">
  <div class="panel panel-default panel-show">
    <div class="panel-heading">
        信息详情
        <button  type="button" class="btn back-btn"  (click)="onQuit()" >返回</button>
    </div>
    <div class="panel-body">
      <form class="form-horizontal">

        <div class="form-group">
          <label class="col-sm-2 control-label">类别 &nbsp;</label>
          {{infoaudit.type}}
        </div>

        <div class="form-group">
          <label  class="col-sm-2 control-label">标题</label>
          <div class="col-sm-6">
            {{infoaudit.title}}
          </div>
        </div>

        <div class="form-group">
          <label  class="col-sm-2 control-label">起草时间</label>
          <div class="col-sm-6" >
            {{infoaudit.dateCreated| date:'yyyy-MM-dd HH:mm:ss' }}
          </div>
        </div>

        <div class="form-group">
          <label  class="col-sm-2 control-label">内容</label>
          <div class="col-sm-8" [innerHTML]="infoaudit.content"></div>
        </div>

        <div class="form-group">
          <label  class="col-sm-2 control-label">用户</label>
          <div class="col-sm-2">
            {{currentUser || '无'}} 
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">状态</label>
          <div class="col-sm-2" >{{infoaudit.status}}</div>
        </div>

        <div class="form-group">
          <label for="exampleInputFile" class="col-sm-2 control-label">附件下载</label>
          <input type="file" id="exampleInputFile" class="col-sm-1 control-label">
        </div>

        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-2">
          </div>
        </div>

      </form>
    </div>
  </div>
</div>
