<div class="panel panel-default" *ngIf="!displayDialog">
  <div class="panel-heading">
    <div class="row">
      <div class=" col-md-3 col-sm-3">
        <div class="input-group">
          <span class="search-span input-group-addon ">车架号：</span>
          <input type="text" class="search-input form-control" [(ngModel)]="frameNo" placeholder="请输入车架号..."/>
        </div>
      </div>
      <div class="col-md-3 col-sm-3">
        <div class="input-group">
          <span class="search-span input-group-addon">车牌号：</span>
          <input type="text" class="search-input form-control" [(ngModel)]="carLicenseNo" placeholder="请输入车牌号..."/>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-md-offset-3">
        <button pButton label="检索" type="button" (click)="initData()"></button>
        <button pButton label="重置" type="button" (click)="onReset()"></button>
      </div>
    </div>
  </div>
  <!--列表显示-->
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
          <p-dataTable [value]="warningList" [emptyMessage]="'暂无数据'">
              <p-column field="frameNo" header="车架号"></p-column>
              <p-column field="carLicenseNo" header="车牌号">
                  <ng-template let-col let-car="rowData" let-ri="rowIndex" pTemplate="body">
                      <a (click)="showRealTimeMap(car)" href="javascript:;">{{car[col.field]}}</a>
                  </ng-template>
              </p-column>
              <p-column field="carColor" header="车辆颜色"></p-column>
              <p-column field="warningSource" header="报警信息来源"></p-column>
              <p-column field="warningType" header="报警类型"></p-column>
              <p-column field="" header="操作" styleClass=operation-buttons-1>
                  <ng-template let-a="rowData" pTemplate="body">
                      <div role="button" class="fa fa-list fa-font-size div-distance"
                           (click)="onView(a)" tooltip="详情" placement="bottom"></div>
                  </ng-template>
              </p-column>
          </p-dataTable>
        <p-paginator rows="{{max}}" totalRecords="{{total}}" (onPageChange)="paginate($event)"></p-paginator>
      </div>
    </div>
  </div>
</div>


<div class="panel panel-default" *ngIf="displayDialog">
    <div class="panel-heading">
        <div class="row">
            <div class="col-sm-10 text-left">
                <h5>
                    详情
                </h5>
            </div>
            <div class="col-sm-2">
                <button pButton type="button" label="返回" (click)="cancle()"></button>
            </div>
        </div>
    </div>
    <div class="panel-body showDetails">
        <div class="col-sm-12 form-horizontal">
            <div class="row">
                <div class="form-group col-sm-4">
                    <label class="col-sm-5 control-label">车架号：</label>
                    <div class="col-sm-7">
                        <p class="form-control-static">{{warning.frameNo}}</p>
                    </div>
                </div>
                <div class="form-group col-sm-4">
                    <label class="col-sm-5 control-label">车牌号：</label>
                    <div class="col-sm-7">
                        <p class="form-control-static">{{warning.carLicenseNo}}</p>
                    </div>
                </div>
                <div class="form-group col-sm-4">
                    <label class="col-sm-5 control-label">车辆颜色：</label>
                    <div class="col-sm-7">
                        <p class="form-control-static">{{warning.carColor}}</p>
                    </div>
                </div>
                <div class="form-group col-sm-4">
                    <label class="col-sm-5 control-label">报警信息来源：</label>
                    <div class="col-sm-7">
                        <p class="form-control-static">{{warning.warningSource}}</p>
                    </div>
                </div>
                <div class="form-group col-sm-4">
                    <label class="col-sm-5 control-label">报警类型：</label>
                    <div class="col-sm-7">
                        <p class="form-control-static">{{warning.warningType}}</p>
                    </div>
                </div>
                <div class="form-group col-sm-4">
                    <label class="col-sm-5 control-label">报警时间：</label>
                    <div class="col-sm-7">
                        <p class="form-control-static">{{warning.warningTime}}</p>
                    </div>
                </div>
                <div class="form-group col-sm-4">
                    <label class="col-sm-5 control-label">报警次数：</label>
                    <div class="col-sm-7">
                        <p class="form-control-static">{{warning.warningTimes}}</p>
                    </div>
                </div>
                <!--督办信息，暂时隐藏-->
                <!--    <div class="form-group col-sm-4">
                      <label for="superviseId" class="col-sm-5 control-label">报警督办ID：</label>
                      <div class="col-sm-7">
                        <input type="text" class="form-control" id="superviseId"  disabled="disabled" [(ngModel)]="warning.superviseId">
                      </div>
                    </div>
                    <div class="form-group col-sm-4">
                      <label for="endTime" class="col-sm-5 control-label">督办截止时间：</label>
                      <div class="col-sm-7">
                        <input type="text" class="form-control" id="endTime"  disabled="disabled" [(ngModel)]="warning.endTime">
                      </div>
                    </div>
                    <div class="form-group col-sm-4">
                      <label for="superviseLevel" class="col-sm-5 control-label">督办级别：</label>
                      <div class="col-sm-7">
                        <input type="text" class="form-control" id="superviseLevel"  disabled="disabled" [(ngModel)]="warning.superviseLevel">
                      </div>
                    </div>
                    <div class="form-group col-sm-4">
                      <label for="supervisePeople" class="col-sm-5 control-label">督办人：</label>
                      <div class="col-sm-7">
                        <input type="text" class="form-control" id="supervisePeople" disabled="disabled"  [(ngModel)]="warning.supervisePeople">
                      </div>
                    </div>
                    <div class="form-group col-sm-4">
                      <label for="supervisePhone" class="col-sm-5 control-label">督办联系电话：</label>
                      <div class="col-sm-7">
                        <input type="text" class="form-control" id="supervisePhone" disabled="disabled"  [(ngModel)]="warning.supervisePhone">
                      </div>
                    </div>
                    <div class="form-group col-sm-4">
                      <label for="superviseEmail" class="col-sm-5 control-label">督办联系电子邮箱：</label>
                      <div class="col-sm-7">
                        <input type="text" class="form-control" id="superviseEmail"  disabled="disabled" [(ngModel)]="warning.superviseEmail">
                      </div>
                    </div>-->
            </div>
        </div>
    </div>
</div>

