<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-sm-3">
                <div class="input-group">
                    <span class="input-group-addon">车牌号：</span>
                    <input type="text" class="form-control" [(ngModel)]="licenseNo" name="company" placeholder="请输入车牌号..."/>
                </div>
            </div>
            <div class="col-sm-6">
            </div>
            <div class="col-sm-3">
                <button pButton label="检索" type="button"(click)="initData()"></button>
                <button pButton label="取消" type="button" (click)="cancel()"></button>
            </div>

        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <p-dataTable [value]="detailList" [emptyMessage]="'暂无数据'">
                    <p-column field="licenseNo" header="车牌号">
                        <ng-template let-col let-passenger="rowData" let-ri="rowIndex" pTemplate="body">
                            <a (click)="showRealTimeMap(passenger)" href="javascript:;">{{passenger[col.field]}}</a>
                        </ng-template>
                    </p-column>
                    <p-column field="time" header="时间"></p-column>
                    <p-column field="speed" header="速度"></p-column>
                    <p-column field="acc" header="ACC"></p-column>
                    <p-column field="mileage" header="里程"></p-column>
                    <p-column field="positioning" header="定位"></p-column>
                    <p-column field="location" header="车辆地理位置"></p-column>
                    <p-paginator rows="{{max}}" totalRecords="{{total}}" (onPageChange)="paginate($event)"></p-paginator>
                </p-dataTable>
            </div>
        </div>
    </div>
</div>




