
<div isCompanyUser class="querys">
    <div class="row form-horizontal">
        <div class="col-sm-5">
            <div class="form-group">
                <label class="col-sm-4 control-label">业户名称：</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" [(ngModel)]="company" name="company" placeholder="请输入业户名称..." />
                </div>
            </div>
        </div>
        <div class="col-sm-5 col-sm-offset-1">
            <button pButton label="检索" type="button" (click)="onSearch()"></button>
            <button pButton label="重置" type="button" (click)="onReset()"></button>
        </div>
    </div>
</div>

<p-dataTable [value]="dangerousStatisticList" [emptyMessage]="'暂无数据'" [lazy]="true" [rows]="pageMax" [totalRecords]="pageTotal" [paginator]="true" (onLazyLoad)="paginate($event)" [(first)]="pageFirst" >
    <p-column field="ownerName" header="业户名称"></p-column>
    <p-column field="online" header="在线危险品车辆">
        <ng-template let-col let-dangerous="rowData" let-ri="rowIndex" pTemplate="body">
            <a (click)="showOnline(dangerous)" href="javascript:;">{{dangerous[col.field]}}</a>
        </ng-template>
    </p-column>
    <p-column field="onlineing" header="上线危险品车辆">
        <ng-template let-col let-dangerous="rowData" let-ri="rowIndex" pTemplate="body">
            <a (click)="showOnlineing(dangerous)" href="javascript:;">{{dangerous[col.field]}}</a>
        </ng-template>
    </p-column>
    <p-column field="crossCar" header="跨域危险品车辆">
        <ng-template let-col let-dangerous="rowData" let-ri="rowIndex" pTemplate="body">
            <a (click)="showCrossCar(dangerous)" href="javascript:;">{{dangerous[col.field]}}</a>
        </ng-template>
    </p-column>
    <p-column field="dangerousGoods" header="运输危险品货物"></p-column>
    <p-column field="haulway" header="危险品运输路线"></p-column>
    <p-column field="warning" header="报警情况">
        <ng-template let-col let-dangerous="rowData" let-ri="rowIndex" pTemplate="body">
            <a (click)="showWarning(dangerous)" href="javascript:;">{{dangerous[col.field]}}</a>
        </ng-template>
    </p-column>
</p-dataTable>
