<!--<div>-->
  <!--<button [hasPermission]="'menu:create'"  pButton type="button" label="实时位置" (click)="initRealTimeMap()"></button>-->
  <!--<button [hasPermission]="'menu:create'"  pButton type="button" label="历史位置" (click)="initHistoryMap()"></button>-->
<!--</div>-->
<div id="map" style="width: 100%;height: 100%"></div>
<div *ngIf="mapCode=='realTimeMap'">
  <p-panel header="车辆信息" [toggleable]="true" [style]="{'margin-bottom':'20px'}" styleClass="car-info" >
    <div class="row">
      <div class="col-sm-3">车牌号码：{{realTimeGnssData.plateNo}}</div>
      <div class="col-sm-3">车辆颜色：{{realTimeGnssData.plateColor}}</div>
      <div class="col-sm-3">车辆颜色：{{realTimeGnssData.plateColor}}</div>
      <div class="col-sm-3">经纬度：{{realTimeGnssData.geoPoint}}</div>
      <div class="col-sm-3">速度：{{realTimeGnssData.gpsSpeed}}km/s</div>
      <div class="col-sm-3">行驶记录速度：{{realTimeGnssData.recSpeed}}km/s</div>
      <div class="col-sm-3">总里程数：{{realTimeGnssData.totalMileage}}</div>
      <div class="col-sm-3">方向：{{realTimeGnssData.direction}}</div>
      <div class="col-sm-3">海拔高度：{{realTimeGnssData.altitude}}</div>
      <div class="col-sm-3">车辆状态：{{realTimeGnssData.vehicleState}}</div>
      <div class="col-sm-3">报警状态：{{realTimeGnssData.alarmState}}</div>
      <div class="col-sm-3">更新时间：{{realTimeGnssData.dateStr}}</div>
    </div>
  </p-panel>
</div>

