<div class="ui-g">
    <div class="ui-g-12 ">
        <p-dropdown [options]="systemCodeTypes" [(ngModel)]="type" (onChange)="reload()"
                    [style]="{'width':'300px'}" [autoWidth]="false" class="pull-left" filter="filter"></p-dropdown>
        <button [hasPermission]="'systemcode:create'" pButton type="button" label="新增" (click)="onCreate()"
                class="pull-right"></button>
    </div>
    <div class="ui-g-12">
        <p-treeTable [value]="systemCodeTree" (onNodeExpand)="loadNode($event)" styleClass="syscodeTable">
            <p-column field="name" header="名称"></p-column>
            <p-column field="codeNum" header="编码"></p-column>
            <p-column field="" header="操作">
                <ng-template let-node="rowData" pTemplate="body">
                    <button pButton type="button" label="编辑" (click)="onEdit(node.data.id)"></button>
                    <button pButton type="button" label="删除" (click)="onDelete(node)"></button>
                </ng-template>
            </p-column>
        </p-treeTable>
    </div>
</div>

<p-dialog header="{{formTitle}}" [(visible)]="displayDialog" modal="modal" width="500" [responsive]="true">
    <div class="form-horizontal">
        <div class="form-group">
            <label for="name" class="col-sm-3 control-label">名称</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="name" name="name" [(ngModel)]="systemCode.name">
            </div>
        </div>

        <div class="form-group">
            <label for="codeNum" class="col-sm-3 control-label">编码</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="codeNum" name="codeNum" [(ngModel)]="systemCode.codeNum">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">父</label>
            <div class="col-sm-6">
                <p-autoComplete [(ngModel)]="parent" [suggestions]="filteredParents"
                                (completeMethod)="filteredParent($event)"
                                field="info" [size]="30" placeholder="根据编码搜索父节点" [minLength]="1" [delay]="500">
                    <ng-template let-parent pTemplate="item">
                        {{parent.codeNum}}（{{parent.name}}）
                    </ng-template>
                </p-autoComplete>
            </div>
        </div>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <button pButton type="button" icon="fa-check" label="保存" (click)="isAdd?save():update()"></button>
            <button pButton type="button" icon="fa-close" label="返回" (click)="cancle()"></button>
        </div>
    </p-footer>
</p-dialog>
