@import "../node_modules/font-awesome/css/font-awesome.min.css";
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";


/* You can add global styles to this file, and also import other style files */
html, body {
    height: 100%;
    margin:0;
    padding:0;

    position:relative;
    width:100%;
    min-height:100%;
}
/*panel的title设置*/
body .ui-panel .ui-panel-titlebar{
    background-color: #66bb6a;;
    color:#fff;
    font-family: "Microsoft YaHei";
    font-size: 14px;
    vertical-align: middle;
    height:52px;
}

.toast-top-right{
    top: 120px;
}

.ui-dialog{
  z-index: 9999!important;
}

.ui-dialog-footer{
    border:0
}
.ui-dialog-footer .ui-widget-content,body .ui-dialog-footer .ui-widget-content{
    border: 0
}

.ui-dialog .ui-dialog-content{
  background-color: #ffffff;
}

body .ui-dialog{
  border: 0;
}

body .ui-tabview .ui-tabview-panel {
    padding: 10px 0;
}

.u-content-active {
  /*margin-left: 70px !important;*/
}

.layout-tabmenu[_ngcontent-c3]   .layout-tabmenu-contents[_ngcontent-c3]  {
  /*opacity: 0.92;*/
}

body  .car-info .ui-panel-titlebar{
  height: auto;
  padding: 3px;
}

body .car-info .ui-panel-content{
  padding: 3px 5px;
}

.main-content{
  padding: 10px 0 30px 0;
}

.mat-progress-spinner path, .mat-spinner path {
	stroke: #3192e1
}

.map-left {
    position: fixed;
    left: 5% !important;
    bottom: 0;
    overflow: scroll;
    height: 200px;
    width: 100%;
}

.warnning {
    color: red
}

body .map-footer .ui-datatable .ui-datatable-thead > tr > th, body .ui-datatable .ui-datatable-tfoot > tr > td {
    padding: 0;
}

