@import "../node_modules/font-awesome/css/font-awesome.min.css";
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

/* You can add global styles to this file, and also import other style files */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;

    position: relative;
    width: 100%;
    min-height: 100%;
}

/*panel的title设置*/
body .ui-panel .ui-panel-titlebar {
    background-color: #66bb6a;;
    color: #fff;
    font-family: "Microsoft YaHei";
    font-size: 14px;
    vertical-align: middle;
    height: 52px;
}

.required{
    color:red;
}

.toast-top-right {
    top: 120px;
}

.ui-dialog {
    z-index: 9999 !important;
}

.ui-dialog-footer {
    border: 0
}

.ui-dialog-footer .ui-widget-content, body .ui-dialog-footer .ui-widget-content {
    border: 0
}

.ui-dialog .ui-dialog-content {
    background-color: #ffffff;
}

body .ui-dialog {
    border: 0;
}

body .ui-tabview .ui-tabview-panel {
    padding: 10px 0;
}

.u-content-active {
    /*margin-left: 70px !important;*/
}

.layout-tabmenu[_ngcontent-c3]   .layout-tabmenu-contents[_ngcontent-c3] {
    /*opacity: 0.92;*/
}

body .car-info .ui-panel-titlebar {
    height: auto;
    padding: 3px;
}

body .car-info .ui-panel-content {
    padding: 3px 5px;
}

.main-content {
    padding: 0px 0 30px 0;
}

.panel-body .top-buttons {
    text-align: left;
    padding-bottom: 10px;
}

.mat-progress-spinner path, .mat-spinner path {
    stroke: #3192e1
}

.map-left {
    position: fixed;
    bottom: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 200px;
    width: calc(100% - 130px);
    background-color: white;
}

.warnning {
    color: red
}

body .map-footer .ui-datatable .ui-datatable-thead > tr > th, body .ui-datatable .ui-datatable-tfoot > tr > td {
    padding: 0;
}

body .ui-datatable .ui-datatable-data > tr > td {
    word-wrap: break-word;
}

/*top导航栏*/
.container-fluid {
    background: url("assets/images/top-navbar.png");
    background-size: 100% auto;
}

.u-footer {
    background: url("assets/images/bottom-nav.png") !important;
    background-size: 100% auto !important;
}

/*走势图*/
body .ui-panel .ui-panel-titlebar {
    background: url("assets/images/index-trends-1.png");
    background-size: cover;
}

/*表头*/
body .ui-datatable .ui-datatable-thead > tr > th, body .ui-datatable .ui-datatable-tfoot > tr > td {
    background-color: #5598B7;
    color: #FFFFFF;
}

/*奇数行*/
body .ui-datatable .ui-datatable-data tr.ui-datatable-even {
    text-align: center;
    background-color: #FFFFFF;
}

/*偶数行*/
body .ui-widget-content > tr {
    text-align: center;
    background-color: #D0E7F2;
}

/*标签页title*/
body .ui-tabview.ui-tabview-top .ui-tabview-nav li.ui-state-active {
    background: #5598B7;
    border-color: #5598B7;
}

/*pbutton*/
.ui-button {
    background-color: #006FA7 !important;
    color: #FFFFFF !important;
}

.btn {
    background-color: #006FA7 !important;
    color: #FFFFFF !important;
}

.progress{
    height: 30px;
}
.progress-bar{
    padding-top: 7px;
}
/*列表搜索栏*/
.search-span{
    padding: 6px 6px !important;
}
.search-input{
    width: 130px !important;
}
.search-button {
    margin: 10px 20px 0px 0px;
}

/*列表搜索栏*/
.search-span{
    padding: 6px 6px !important;
}
.search-input{
    width: 130px !important;
}
.search-button {
    margin: 10px 20px 0px 0px;
}
.fa-font-size {
    font-size: 20px;
}

.div-distance {
    width: 30px;
}

.showDetails .form-group {
    margin-bottom: 0 !important;
}

.tooltip-inner{
    z-index: 9999;
}

.operation-buttons-3{
    width: 150px;
}
.operation-buttons-2{
    width: 120px;
}
.operation-buttons-1{
    width: 80px;
}
.operation-buttons-4{
    width: 180px;
}

body .ui-tabview.ui-tabview-top .ui-tabview-nav li, body .ui-tabview.ui-tabview-bottom .ui-tabview-nav li, body .ui-tabview.ui-tabview-left .ui-tabview-nav li, body .ui-tabview.ui-tabview-right .ui-tabview-nav li{
    border: 1px solid #cccccc;
}

.querys{
    border: 1px solid #cccccc;
    padding: 10px;
}

.querys .form-group label{
    font-weight: normal;
}

.querys .form-horizontal .form-group{
    margin: 0 0 5px 0;
}

.calendar-group .cgl{
    width: 49%;
    float: left;
}

.calendar-group .cgm{
    width:2%;
    float: left;
    text-align: center;
    padding-top: 5px;
}

.calendar-group .cgr{
    width: 49%;float: left
}


.calendar-span{
    width: 100%;
}

.calendar{
    width: calc(100% - 30px);
}

.calendar-span button {
    width: 30px;
}

.ui-datatable-emptymessage{
    padding: 150px !important;
}

.panel-show .back-btn{
    float: right;
    top: -5px;
    position: relative;
    padding: 3px 12px;
}

.p-dropdown-form-control{
    width: 100% !important;
}
