<div class="querys">
    <div class="row form-horizontal">
        <div class="col-sm-5">
            <div isCompanyUser class="form-group">
                <label class="col-sm-4 control-label">企业名称：</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" [(ngModel)]="company" name="company" placeholder="请输入企业名称..." />
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-sm-5">
            <div class="form-group">
                <label class="col-sm-4 control-label">查岗时间：</label>
                <div class="col-sm-8 calendar-group">
                    <div class="cgl">
                        <p-calendar [(ngModel)]="startDate" name="startDate" [showIcon]="true" [maxDate]="maxDate" [showTime]="true" [readonlyInput]="true"
                            dateFormat="yy-mm-dd" styleClass=calendar-span inputStyleClass=calendar [locale]="zh"></p-calendar>
                    </div>
                    <div class="cgm">-</div>
                    <div class="cgr">
                        <p-calendar [(ngModel)]="endDate" name="endDate" [showIcon]="true" dateFormat="yy-mm-dd" [maxDate]="maxDate" [showTime]="true"
                            [readonlyInput]="true" styleClass=calendar-span inputStyleClass=calendar [locale]="zh"></p-calendar>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-5 col-sm-offset-1">
            <button type="submit" pButton label="检索" (click)="initData()"></button>
            <button type="submit" pButton label="重置" (click)="cancel()"></button>
        </div>
    </div>
</div>
<div class="top-buttons">
    <button pButton [hasPermission]="'owner_check_record_manual'" type="button" label="查岗" (click)="onInspect()"></button>
</div>

<div class='basic-bottom'>
    <p-dataTable [value]="checkRecordList" [emptyMessage]="'暂无数据'">
        <p-column field="companyCode" header="企业编码"></p-column>
        <p-column field="dateCreated" header="查岗时间"></p-column>
        <p-column field="question" header="查岗内容"></p-column>
        <p-column field="answer" header="问题答案"></p-column>
        <p-column field="responsed" header="信息状态">
            <ng-template let-checkRecord="rowData" pTemplate="body">
                <span>{{checkRecord.responsed ? '已响应':'未响应'}}</span>
            </ng-template>
        </p-column>
        <p-column field="auto" header="查岗类型">
            <ng-template let-checkRecord="rowData" pTemplate="body">
                <span>{{checkRecord.auto ? '自动':'手动'}}</span>
            </ng-template>
        </p-column>
        <p-column field="operator" header="查岗人">
            <ng-template let-checkRecord="rowData" pTemplate="body">
                <span>{{checkRecord.operator || '无'}}</span>
            </ng-template>
        </p-column>
        <p-column field="responseDate" header="应答时间">
            <ng-template let-checkRecord="rowData" pTemplate="body">
                <span>{{checkRecord.responseDate || '无'}}</span>
            </ng-template>
        </p-column>
        <p-column field="responseContent" header="应答内容">
            <ng-template let-checkRecord="rowData" pTemplate="body">
                <span>{{checkRecord.responseContent || '无'}}</span>
            </ng-template>
        </p-column>
        <p-column field="responseTime" header="响应时间(分:秒)">
            <ng-template let-checkRecord="rowData" pTemplate="body">
                <span>{{checkRecord.responseTime*1000 | date: "mm:ss"}}</span>
            </ng-template>
        </p-column>
    </p-dataTable>
    <p-paginator rows="{{max}}" totalRecords="{{total}}" (onPageChange)="paginate($event)" *ngIf="checkRecordList?.length>0"></p-paginator>
</div>

<p-dialog header="查岗" [(visible)]="inspectDisplay" modal="modal" width="600" [responsive]="true">
    <div class="form-horizontal">
        <div class="form-group">
            <label for="companyCode" class="col-sm-3 control-label">业户组织机构代码：</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="companyCode" name="companyCode" [(ngModel)]="inspectQ.companyCode">
            </div>
        </div>

        <div class="form-group">
            <label for="name" class="col-sm-3 control-label">问题：</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="name" name="name" [(ngModel)]="inspectQ.question">
            </div>
        </div>

        <div class="form-group">
            <label for="codeNum" class="col-sm-3 control-label">答案：</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="codeNum" name="codeNum" [(ngModel)]="inspectQ.answer">
            </div>
        </div>
    </div>
    <p-footer>
        <div class="form-group">
            <button type="button" pButton icon="fa-check" (click)="inspect()" label="查岗"></button>
            <button type="button" pButton icon="fa-close" (click)="inspectDisplay=false" label="取消"></button>
        </div>
    </p-footer>
</p-dialog>
