.red-point{
    position: relative;
}

.red-point::before{
    content: " ";
    border: 4px solid red;
    border-radius:4px;
    position: absolute;
    vertical-align: middle;
}

.center {
    text-align: center;
}

.change-color{
    color: #7a7a7a;
}

tr td {
    height: 40px;
}

