<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">考核统计</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="input-group">
                            <span class="input-group-addon">业户名称：</span>
                            <input type="text" class="form-control" [(ngModel)]="ownerName" name="ownerName" placeholder="请输入业户名称..." />
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <button pButton label="检索" type="button" (click)="onSearch()"></button>
                        <button pButton label="取消" type="button" (click)="onCancel()"></button>
                    </div>
                </div>
                <hr/>
                <p-dataTable [value]="records" [emptyMessage]="'暂无数据'">
                    <p-column field="ownerName" header="业户名称"></p-column>
                    <p-column field="companyCode" header="业户编码"></p-column>
                    <p-column field="total" header="上传文件数量"></p-column>
                </p-dataTable>
            </div>
        </div>
    </div>
</div>
